[2014-09-11 19:39] feross opened #2 "Share links"
`mafintosh> is there a way i can share a link to instant.io+info-hash?`

cc @mafintosh

[2014-09-11 20:19] feross opened #3 "Better large file handling"
Large files fail with RangeError (in Chrome)

[2014-09-11 21:06] #2 closed, assigned to nobody

[2014-09-15 21:16] cihadturhan opened #5 "Download doesn't start and no error logged"
Great job.

It somehow doesn't work and gives no error. I saw info_hash changed while sending  via websockets.

I'm posting the response message as gist so maybe it helps you.

https://gist.github.com/cihadturhan/f323b489c6bb11c509e0

[2014-09-18 23:30] feross opened #8 "add normal file upload box"
[code]

cc @substack

[2014-10-12 16:12] gcq opened #9 "ICE failed under Firefox 33.0"
Executed `localStorage.debug = '*'`
Random info hash with a lot of seeds: `1FA6D2D6A5FE21D00E0B822CCDA7699547163F65`
Click download.

[code]

`about:webrtc` shows 15 of these:

[code]

I don't know if it's a problem with FF, with my setup, or webtorrent.
If i can help in any way tell me.

[2014-10-14 05:27] #9 closed, assigned to nobody

[2014-11-07 19:01] achernar opened #10 "Repackage video files on the fly to support streaming to <video> tag"
i cannot stream any video
i always receive this error...

Uncaught InvalidStateError: Failed to execute 'appendBuffer' on 'SourceBuffer': This SourceBuffer has been removed from the parent media source. bundle.js:10746

[2014-11-19 06:56] feross opened #12 "Switch drag-drop to not use buffer"
That way we don't need to load the whole file into memory up-front.

`drag-drop/buffer` -> `drag-drop`

It looks like just making this change triggers some bug in `filestream` where the 'end' event is not emitted. Investigate.

[2014-12-02 17:48] ArtskydJ opened #13 "Questions about Torrent/Peer Discovery"
I have a few questions on how peer discovery works in instant.io and webtorrent:
- If DHT working in webtorrent, why did you use a tracker server instead? ([`index.js`, line 43](https://github.com/feross/instant.io/blob/master/client/index.js#L43).)
- If DHT is enabled on a torrent, can it be found by just its `infoHash`?
- Is it ok to use [wss://tracker.webtorrent.io](#) for applications using we

[2014-12-14 18:07] singpolyma opened #14 "Add a progress/status indicator for download"
When first going to a download link (instant.io/#infoHash) there are quite a few seconds where it looks like just an upload page before the download section gets populated with progress.  Would be good to put at least a spinner there as soon as the page loads so the user knows a download is coming.

[2014-12-14 22:31] #8 closed, assigned to nobody

[2014-12-31 09:45] #13 closed, assigned to nobody

[2014-12-31 09:47] feross opened #15 "Streaming file encryption"

[2014-12-31 09:49] feross opened #16 "Use TURN relay servers for better connectivity"
TURN servers will increase the chances that peers will be able to connect. TURN servers act as a relay point that both peers can reach easily (since it's not behind a NAT and has a publicly-accessible URL).

Downside: This is a point of centralization where eavesdropping could occur. Thus, we should add streaming file encryption (issue https://github.com/feross/instant.io/issues/15) first.

[2015-01-04 09:19] #16 closed

[2015-01-04 09:19] feross commented on #16
Done. Released on https://instant.io.

[2015-01-04 10:02] feross opened #17 "Site redesign"

[2015-01-04 10:03] feross opened #18 "Host user files for 24 hours"
This should be an option.

This should come after [encryption](https://github.com/feross/instant.io/issues/15) has been implemented.

[2015-01-05 08:01] feross commented on #3
Haven't seen RangeError in a while, but large downloads seem to stall part-way through (around when the tab hits 2GB ram?)

[2015-01-05 16:55] FesterCluck commented on #3
You should check to see if you are hitting your machine's paging limit.

[2015-01-07 09:47] jakefb commented on #17
I could help with this if would like. I have experience with Bootstrap and CSS. I think the website should be kept simple for the time being, but should look a bit prettier :)

[2015-01-11 22:55] feross commented on #10
Thanks for the recommendation. mp4box.js looks like a good start. I wish it used browserify and streams.

[2015-02-06 07:00] kyonetca opened #20 "Error in /instant.io-master/server/index.js"
Hello,
just leaving a bugfix that there is an issue with code located here

app.use(express.static(path.join(__dirname, '../static')))

my editor does not seem to like express.static

(static comes up as red)

Let me know if anyone figured it out or if it is just my coder.

Cheers
K!

[2015-02-07 01:24] feross commented on #20
This is not an issue. Your editor probably thinks `static` is a keyword, but it's okay to use static as a property name in JavaScript.

[2015-02-07 01:24] #20 closed

[2015-02-24 10:11] raptats opened #21 "Trigger.sh is asking for password"
Hi Ferros,

I have removed the node modules of the clone so that i can install the "bin" files but for some reason it asks for a password. Is it required for me to implement these .sh files or should I continue with browserifying the indexes? Thanks for your help in advance.

[2015-03-04 21:05] feross commented on #21
The files in `bin/` are for deploying to instant.io. If you're just trying to get the site running locally on your computer, you don't need to run them.

Just run `npm install` then `npm run watch`, and visit http://localhost:9100

[2015-03-04 21:05] #21 closed

[2015-03-09 13:28] raptats commented on #21
![image](https://cloud.githubusercontent.com/assets/11029758/6555644/8cb725c4-c6a2-11e4-9c9b-f1243b339a5f.png)
![image](https://cloud.githubusercontent.com/assets/11029758/6555656/9b014a38-c6a2-11e4-87a8-9900e83b0c70.png)

Hi Feross,

Thanks for your response.

I have tried npm run watch and got these errors(snapshots above). The errors says to *tell the author that these fails on my system*. Am I

[2015-03-10 03:17] feross commented on #21
instant.io is deployed to an ubuntu linux server and hasn't been tested on
a windows machine. Sorry – you'll have to figure out how to get it working
on your own. If the solution is simple, feel free to send a PR and I'll
merge it.

On Mon, Mar 9, 2015 at 6:28 AM raptats <notifications@github.com> wrote:

[2015-03-12 04:21] #5 closed

[2015-03-12 04:21] feross commented on #5
I've added TURN server support, so these types of transient network errors should happen less.

[2015-03-13 10:32] beingalink opened #22 "instant.io broken in firefox nightly"
I get following in the console:
TypeError: asm.js type error: expecting argument type declaration for 'e' of the form 'arg = arg|0' or 'arg = +arg' or 'arg = fround(arg)'

Then when it tries to hash a file:
AssertionError: false == true

I guess it might be related to this: https://github.com/subrosa-io/subrosa-client/issues/39

[2015-03-13 21:49] feross commented on #22
The asm error appears to only be a warning. I opened an issue on Rusha (https://github.com/srijs/rusha/issues/27). The site still works for me, and I can send/receive files from Firefox. I'm seeing an error when trying to receive a file in Firefox (NS_ERROR_UNEXPECTED). Is that what you see?

What file are you attempting to hash? How big is it?

[2015-03-14 10:34] beingalink commented on #22
I try to create a torrent by giving the app a file to hash via the browse button. It shows "Creating .torrent file..." but nothing happens afterwards. With current nightly build I get: "Error: Invalid torrent identifier" in bundle.js or "AssertionError: false == true".

[2015-03-14 15:26] raptats commented on #21
![image](https://cloud.githubusercontent.com/assets/11029758/6652165/c0fcf974-caa0-11e4-8b83-6b1d6bb7e129.png)

Hi Feross,

Thank you for your support.

I have tried the npm install ->> npm run watch on an ubuntu server 14.04.2 and have arrived into this error. The same happens with the window installation counterpart when manually browserifying each modules. Is there a known solution for this err

[2015-03-17 19:52] feross commented on #22
Fixed the asm.js warning, see: https://github.com/feross/webtorrent/issues/281

Still unsure about the other error.

[2015-03-17 20:10] beingalink commented on #22
Yes, the asm warning is fixed indeed: Console says "Successfully compiled asm.js code (total compilation time 5ms; not stored in cache (too small to benefit))".
But creating a torrent still doesn't work. I still get "AssertionError: false == true" in <unknown>. Perhaps it's a firefox issue in the end.

[2015-03-18 08:25] feross commented on #22
I released new versions of `webtorrent-tracker` and `webtorrent-swarm` to fix this issue. Please try https://instant.io one more time and confirm that it's working now.

[2015-03-18 08:25] #22 closed

[2015-03-18 08:26] feross commented on #22
If it's not working, please leave a comment and I'll re-open.

[2015-03-18 08:50] beingalink commented on #22
Unfortunately this doesn't seem to have fixed the issue. Creating a torrent hangs somewhere in the process and I still get the "AssertionError: false == true" message.

[2015-03-18 09:38] feross commented on #22
How large is the file you're using?
On Wed, Mar 18, 2015 at 1:50 AM beingalink <notifications@github.com> wrote:

[2015-03-18 09:42] beingalink commented on #22
I tried files starting from a few KBs to a few (<5) MBs.

[2015-03-18 09:48] feross commented on #22
Can you email me the files you're using? feross@feross.org. I can't seem
reproduce the issue on my end.
On Wed, Mar 18, 2015 at 2:42 AM beingalink <notifications@github.com> wrote:

[2015-03-18 09:55] beingalink commented on #22
I just sent you 2 small test files but I doubt it's about the files I used. If it works for you with current firefox nightly build, I guess it might be an issue with the mac version (I'm on a macbook) or some setting I use.

[2015-03-18 10:05] beingalink commented on #22
I just tested on FirefoxDeveloperEdition from 03-18 and it works fine there. I guess it's something about the nightly firefox builds having new stuff enabled that prevents instant.io from working or me having done something stupid with my install.

[2015-03-18 10:11] feross commented on #22
Oh, you should disable "Electrolysis" in Firefox Nightly since it breaks
all kinds of things.
https://wiki.mozilla.org/Electrolysis#Enabling_and_Disabling_Electrolysis
See if that fixes the issue in Nightly for you.

On Wed, Mar 18, 2015 at 3:05 AM beingalink <notifications@github.com> wrote:

[2015-03-18 10:17] beingalink commented on #22
I already tried with and without e10s enabled. That doesn't seem to make any difference. I even cleared the cache and shift reloaded several times but this doesn't help.

[2015-03-18 10:20] beingalink commented on #22
I just checked the console with e10s disabled. There's a different error message now: "Error: Invalid torrent identifier" in "bundle.js:4:334". Perhaps that helps you to identify the issue.

[2015-03-18 23:54] feross commented on #22
Looks like Fx Nightly broke something, my guess is that they broke the `crypto.subtle` api which does sha1 hashing when on `https:` origins. It works in all other versions of Fx.

[2015-03-19 05:10] feross commented on #12
Consider using this kind of approach: https://github.com/Joris-van-der-Wel/readable-blob-stream

[2015-03-19 20:34] beingalink commented on #22
I filed a bug on bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1145058

[2015-03-23 20:45] feross commented on #21
You need to copy the file `secret/index-sample.js` to `secret/index.js` and fill in the config information.

[2015-03-28 22:23] beingalink commented on #22
Seems like the bug has been fixed.

[2015-03-28 23:45] feross commented on #22
Yep – thanks for finding and filing the issue!

[2015-03-29 00:04] fpinzn opened #24 "Wrong magnet uri"
Is always generating `magnet:?tr=wss%3A%2F%2Ftracker.webtorrent.io`

[2015-03-29 00:38] feross commented on #24
What are you doing to generate this magnet link?

[2015-03-29 01:25] fpinzn commented on #24
Upload a text file, click on download and copy the download file that appears under log.

[2015-04-01 22:53] feross commented on #24
Sorry, I can't reproduce this. Closing for now. Feel free to open a new issue if you're still experiencing this.

[2015-04-01 22:53] #24 closed

[2015-04-16 00:59] feross opened #25 "Detect when .torrent files are dropped on the page, start download"

[2015-04-16 01:36] jzjzjzj opened #26 "saving the downloaded file"
Is there an option to save the downloaded (video) file? I could not find one after downloading mp4 file; only playback option is provided.

[2015-04-17 19:40] feross commented on #26
Right now we don't show a download link for videos. We should probably change that.

[2015-04-24 05:09] #26 closed

[2015-04-24 06:23] feross commented on #10
An initial implementation of on-the-fly video repackaging has been live on https://instant.io for a couple months, thanks to @jhiesey and mp4box.js. It still needs some work to make it more robust, but this issue is complete now.

[2015-04-24 06:23] #10 closed

[2015-04-25 01:44] feross opened #27 "Show images inline"

[2015-04-25 02:20] feross commented on #25
Fixed in https://github.com/feross/instant.io/commit/cf69761a367ec08c97c4e3602a8333b1d5143192

[2015-04-25 02:20] #25 closed

[2015-04-25 02:36] #27 closed

[2015-04-25 02:58] #14 closed

[2015-05-03 08:46] jakefb opened #30 "Seed multiple torrents at once"
It would be cool if it was possible to choose what happens when more than one file is selected or dropped in. The user should be able to choose if a torrent is created from the array of files or if a torrent is created for each file so each file has its own individual hash. I'm willing to give this an attempt and make a PR.

[2015-05-03 20:06] feross commented on #30
I'm hesitant to make the site more complicated. How would the user select which option they want?

What's wrong with dragging one file at a time in the case where you want to create separate torrents?

[2015-05-04 06:09] jakefb commented on #30
I see your point. What I had in mind was just a window confirm() that asks the user if they want to create one torrent with all the files. If cancel is clicked separate torrents will be created. It's probably fine how it is for now though.

[2015-05-05 21:30] #30 closed

[2015-05-10 01:39] feross commented on #18
Going to punt on this feature for now. I want to get the basics of webtorrent/instant.io as quickly as possible and this feature is a distraction. Also, it's been broken / half-implemented for a while and it's been contributing to #3.

[2015-05-10 02:04] feross commented on #3
For a 105MB file, the page uses 540MB of memory. By commenting out bits of the code at a time, I found this breakdown:

- 90MB just for loading instant.io in chrome (incl. my browser extensions)
- 210MB from drag-drop/buffer
- 105MB from create-torrent in `webtorrent.seed`
- 105MB from `file.getBlobURL` in `onTorrent` on instant.io

We're creating lots of buffers that don't get released, it seems.

[2015-05-12 10:01] feross commented on #12
Ugh, Chrome's FileReader has memory leaks since 2012: https://code.google.com/p/chromium/issues/detail?id=114548

[2015-05-16 04:32] #12 closed

[2015-05-17 07:16] feross commented on #3
There are still some leaks, but it doesn't look like we're losing any full copies of the file anymore! Progress! There's only one copy of the file in memory.

For a 360MB file:

- 90 MB for base instant.io page
- 360 MB for file
- 160 MB for webtorrent.seed (and leaks?)

cc @jhiesey

[2015-05-17 09:18] feross commented on #3
We're now running into a bug in Chrome where blobs can't be larger than 500MB. https://code.google.com/p/chromium/issues/detail?id=375297 This looks like it's really close to being fixed though!

I was able to seed a 1GB file in Firefox and stream to Chrome!

[2015-05-17 10:06] feross commented on #3
***This issue was moved to https://github.com/feross/webtorrent/issues/319.***

[2015-05-17 10:06] #3 closed

[2015-05-18 02:21] feross opened #31 "Peer count doesn't go down when peers disconnect"
The peer count doesn't go down when peers disconnect. Something's not being cleaned up correctly, probably.

[2015-05-18 07:02] rom1504 opened #32 "Have a list of demo files"
I think it would be nice to have a list of demo files (like [this](https://instant.io/#c6642b73cf82dc52b5d538fabfdf9c8e3d9e850f)) that people can download/watch to better understand what's instant.io is about.
It could be an html page or a simple markdown page (maybe in instant.io's wiki ? idk)

[2015-05-19 10:22] Fastidious opened #33 "How to run/install this?"
Could running/installing this on one's server instructions be added? Thanks!

[2015-05-19 10:29] feross commented on #33
Get the code:

[code]

Modify the configuration options in [`config.js`](https://github.com/feross/instant.io/blob/master/config.js) to set the IP/port you want the server to listen on.

Copy [`secret/index-sample.js`](https://github.com/feross/instant.io/blob/master/secret/index-sample.js) to `secret/index.js` and set the Twilio API key if you want a NAT traversal service (to help peers connect w

[2015-05-19 10:30] feross commented on #33
Also, if you just want to use the WebTorrent command line script, you can learn more at https://webtorrent.io. The client-side code that instant.io uses is here: https://github.com/feross/instant.io/blob/master/client/index.js

[2015-05-19 10:35] feross commented on #33
Instructions added to the README.

[2015-05-19 10:35] #33 closed

[2015-05-19 22:34] feross opened #34 "Print message to user when no peers are found"
Right now it's super confusing when the download never starts!

[2015-05-19 22:54] feross opened #35 "Print out list of filenames once metadata is available"
To get a "preview" of the content that is coming.

[2015-05-20 02:25] feross opened #36 "Is upload rate correct?"
When I transfer directly from one tab to another, the uploader's transfer rate appears significantly higher than the receiver's. What is going on?

[2015-05-20 02:27] feross opened #37 "Start timer after 'disconnect' ICE state and eventually call destroy()"
*From this comment: https://github.com/feross/simple-peer/issues/24#issuecomment-103729797*

I'm noticing that sometimes the 'disconnect' ICE state happens, but never 'closed', so the peer never fires 'close' and lives on as a zombie. Adding a timer into instant.io would allow 'close' to eventually fire and give reconnect a chance to happen.

[2015-05-20 02:29] feross opened #38 "Uncaught TypeError: Cannot read property 'uploaded' of null"
![screen shot 2015-05-19 at 7 29 09 pm](https://cloud.githubusercontent.com/assets/121766/7717865/571174fe-fe5d-11e4-8f1c-8bd26a74a6ac.png)

[2015-05-20 02:29] feross opened #39 "Uncaught NetworkError: Failed to execute 'send' on 'RTCDataChannel': Could not send data"
![screen shot 2015-05-19 at 7 29 43 pm](https://cloud.githubusercontent.com/assets/121766/7717875/6ba726f2-fe5d-11e4-8694-7ce8964aa9dc.png)

[2015-05-20 02:31] feross opened #40 "Transfer stats: Handle multiple torrents gracefully (merge stats)"

[2015-05-20 02:32] feross opened #41 "Transfer stats: peer count is wrong"
Peers seem not to be removed from `torrent.swarm._peers` correctly. Also, the peer count is sometimes 0 even though a transfer is happening.

[2015-05-20 02:37] feross commented on #37
Oops meant to create this on simple-peer...

[2015-05-20 02:37] #37 closed

[2015-05-22 09:47] jaybekster opened #42 "Seeding file from server"
How could I seed files withoud internet inside NAT?

How could I seed files from the server after client have uploaded the file. Webtorrent-hybrid and webtorrent use the same websocket adress so i have an error

[2015-05-22 11:48] feross commented on #42
Seeding without internet is possible, but you'll need to run your own STUN server inside your NAT. It's required by WebRTC.

I'm not sure what you're asking in your second question. Can you clarify?

[2015-05-22 13:05] jaybekster commented on #42
1. I found a config to websocket global.WEBTORRENT_ANNOUNCE = [ 'wss://tracker.webtorrent.io' ]. What is it for?
2. In steps:
User upload file and share hash to other user inside NAT.
He close the seeding although the other one is starting to download.
How can I seed the uploaded file on the server by itself when nobody of clients are seeding?

[2015-05-22 13:38] feross commented on #42
1. That just tells WebTorrent to always use that tracker, without requiring that you pass it into every `webtorrent.download` or `webtorrent.seed` call.

2. You need to have a way to tell your server to also download the file and keep a copy there. You could just upload it to the server with an XHR request. Then your server could be a [web seed](https://github.com/feross/webtorrent/issues/67) once

[2015-05-23 02:14] jakefb commented on #32
I would be happy to do this! I could look for music, videos, and ebooks, licensed under the creative commons. Would you want to serve the files with a http server or with webtorrent?

[2015-05-23 10:12] jaybekster commented on #42
I upload the file to directory /upload. Cd to /upload and typed in console webtorrent seed <filename>. In browser i open and paste infoHas but nothing is happed.
I try to seed in console and download in browser, or seed in browser and download in console - in both they it doesn't work.

[2015-05-25 14:21] rom1504 commented on #32
There are a lot of public domain or creative commons licenced files there https://archive.org/details/bittorrent. Might be interesting for this issue.
@jakefb well http seeding isn't implemented yet (https://github.com/feross/webtorrent/issues/67)

[2015-05-25 18:51] feross commented on #42
You need to use https://github.com/feross/webtorrent-hybrid

It's almost the same command. Try `webtorrent-hybrid seed .` command

[2015-05-25 19:22] feross opened #43 "Render .txt files inline"
Let's show the content of text files in the page!

[2015-05-26 10:01] jakefb commented on #43
I completed this feature here https://github.com/feross/instant.io/pull/44

[2015-05-26 10:02] saebekassebil opened #45 "Add a P2P chat component"
Just though of this. Wouldn't it be cool if you could choose to participate in some sort of chat with all your WebTorrent peers using WebRTC? Since you're sharing content it seems that you're also sharing an interest. And that's always a good place to start a conversation!

I was thinking like an opt-in sidepanel with a chat "hosted" by the peers - like [Friends](http://moose-team.github.io/friend

[2015-05-26 10:23] jakefb opened #46 "Uncaught TypeError: Cannot read property 'type' of undefined"
![screenshot from 2015-05-26 22 27 52](https://cloud.githubusercontent.com/assets/6836282/7810492/8ca25356-03f6-11e5-812c-5107861e0f15.png)

I dragged a 600 MB mp4 file onto the page

[2015-05-26 13:29] Sheraff opened #47 "Privacy & legality"
Could we assume that this method of P2P transfer is somewhat safer than more mainstream ones?

Let me explain my scenario. My sister lives in Germany where illegally downloading licensed content is under strict surveillance. You can get fined without warning and fines are usually pretty salty. She works on a boat and gets bored after work hours without internet. Before she embarks I have files I w

[2015-05-27 07:23] feross opened #48 "When seeding a folder, ignore .DS_Store and other hidden OS files"
It would be nice to not include these useless hidden files.

[2015-05-27 07:27] feross opened #49 "Better torrent name when dropping a folder"
When dropping multiple files, or a folder (which will soon be supported for Chrome!), we currently just pick the first file name as the name of the torrent. This is confusing. What should we name the torrent instead?

[2015-05-27 07:40] jakefb commented on #49
The best option I can think of is asking the user what they want to name the torrent? Or we could name it something like like "file1,file2.torrent" or "2files.torrent" but that's a bit silly.

[2015-05-27 18:54] gmbuell opened #50 "Downloading from .torrent files is broken"
instant.io gives "Uncaught Error: Invalid torrent identifier" in the javascript console when trying to download from a torrent file rather than info hash or magnet link.

Steps to reproduce:

1. Start seeding a file on instant.io
2. Download the torrent for the file
3. Open the torrent in a new tab at instant.io

I'm using Chrome Version 43.0.2357.81

[2015-05-27 18:57] gmbuell opened #51 "Should be able to specify alternate tracker"
Setting TRACKER_URL in client/index.js does not fully switch the tracker. I still see requests to wss://tracker.webtorrent.io

[2015-05-28 01:25] #50 closed

[2015-05-28 01:26] feross commented on #50
Sorry, I broke this feature when I switched `drag-drop` to use file blobs instead of Buffer, so we could use less RAM. Just fixed it.

Please try it out on https://instant.io and let me know if you see other issues.

[2015-05-28 01:47] feross commented on #50
Okay, this code is now deployed to https://instant.io.

[2015-05-29 18:44] gmbuell opened #52 "Only works with websocket trackers"
Setting TRACKER_URL to an http or udp tracker does not work (and does not produce any errors).

[2015-05-29 18:51] feross commented on #52
Yeah, this is a limitation of the browser. The browser can't make TCP or UDP connections for security reasons. No browsers can do this.

[2015-05-29 18:53] gmbuell commented on #52
UDP totally makes sense but why can't the browser query the http interface?

—
Sent from Mailbox

On Fri, May 29, 2015 at 11:51 AM, Feross Aboukhadijeh
<notifications@github.com> wrote:

[2015-05-29 19:44] feross commented on #52
Assuming the http tracker set the correct cross-origin headers (unlikely), what would the browser do with the resulting ip:port addresses that the tracker returns? It can't make TCP connections, so it's not very useful.

The browser can only make webrtc connections.

[2015-05-29 19:58] gmbuell commented on #52
Oh I certainly agree the connections to peers would have to be websocket. I'm unfamiliar with the details of WebTorrent. Are the peers returned by the websocket tracker in a different format than the http version to distinguish them as websocket? The idea here is that websocket clients could still use something like opentracker rather than being restricted to bittorrent-tracker (not that there's a

[2015-05-29 20:11] feross commented on #52
Sorry that this isn't clearer from the documentation. I'm working on improving docs. Right now, webtorrent in the browser MUST use a websocket tracker. The only implementation of a websocket tracker is currently the `bittorrent-tracker` package. Maybe opentracker could support websockets in the future? But until then, you have to use `bittorrent-tracker`.

The peers returned from the websocket tra

[2015-05-29 20:17] gmbuell commented on #52
Ahh I see thanks for clearing that up. Is there a more formal spec for the websocket tracker RPC? Or is it just the code right now?

—
Sent from Mailbox

On Fri, May 29, 2015 at 1:11 PM, Feross Aboukhadijeh
<notifications@github.com> wrote:

[2015-05-29 20:22] feross commented on #52
Right now it's just the code, but it's quite simple. It's very similar to the current tracker spec, but with a few changes to accommodate webrtc. I'll write up a formal spec asap.

[2015-05-29 20:22] #52 closed

[2015-05-29 21:27] feross opened #53 "Only show warning dialog on exit when there are only a few seeders"
Otherwise, it's not worth disturbing the user.

[2015-05-30 03:22] feross commented on #43
Merged - thanks!

[2015-05-30 03:22] #43 closed

[2015-05-30 04:33] jakefb opened #54 "Is instant.io and its tracker down right now?"
I checked a few hours ago and https://instant.io/ seemed to be down. It still is and I was wondering what's happening? I was thinking about running my own tracker, but if I did would peers from my website using my tracker, be able to connect to peers from instant.io?

[2015-05-30 04:35] feross commented on #54
Yes, https://instant.io and the webtorrent tracker are both down at the moment because the Linode Fremont data center is experiencing an outage.

I posted about here: https://twitter.com/feross/status/604476316226699264
You can follow updates here: http://status.linode.com/

[2015-05-30 04:37] feross commented on #54
Please run your own tracker! You can use it in addition to tracker.webtorrent.io and it will work just fine. If tracker.webtorrent.io is down, you would still be able to connect to peers on the other tracker.

If you share the URL with me, I will add it to https://instant.io so we can have redundancy. The package is `bittorrent-tracker`, and you can see an example of how it's used at the `feross/w

[2015-05-30 04:38] feross commented on #54
If you switched to ONLY using your own tracker and removed tracker.webtorrent.io your users wouldn't be able to connect to anyone else using tracker.webtorrent.io (like instant.io and most other users of webtorrent right now). So, add it to the list of trackers, but don't remove tracker.webtorrent.io.

[2015-05-30 04:45] jakefb commented on #54
Thanks for the information. If most people are using tracker.webtorrent.io for their projects as well as when using instant.io, does the tracker handle all the connections well? Having more than one tracker would definitely make the network more redundant. I will try set up my own tracker soon and let you know!

[2015-05-30 04:47] feross commented on #54
So far the tracker hasn't had any issues scaling. We'll probably run into issues scaling the tracker software at some point, but we can fix those as they arise.

Thanks - let me know if you have difficulties setting up the tracker so I can make the process easier. If you want, take note of what you do to get the tracker up and we can add those instructions as documentation!

[2015-05-30 08:03] rom1504 commented on #54
I set up a tracker on "ws://tracker.rom1504.fr" (and an instant.io mirror that use both tracker on http://instant.rom1504.fr)

Example : http://instant.rom1504.fr/#1a7b7e6b2dbdac534aa1cd543d9ec41541ab56f0 (also works on https://instant.io/#1a7b7e6b2dbdac534aa1cd543d9ec41541ab56f0)

[2015-05-30 10:43] jakefb commented on #54
Nice work rom1504. I have deployed a tracker at ws://tracker.fastcast.nz. I made a minimal version of ``feross/webtorrent-website`` which just has the code for the tracker. This can be found in the repo I made ``jakefb/fastcast-tracker``. People who want to set up their own tracker could just clone the repository and change the IP address on the second line of config.js from ``'144.6.227.30'`` to

[2015-05-30 21:51] feross commented on #51
This was a bug - fixed in v0.48.2. The default trackers are only added when none are specified since that's almost never what the user wants. :)

[2015-05-30 21:51] #51 closed

[2015-05-31 19:20] Pawtiko commented on #47
I would reccoment using https://reep.io/ which is more private.

[2015-06-01 16:58] feross opened #56 "Magnet URI link sometimes lacks trackers"
The downloader side's magnet link lacks any trackers, which makes it hard to use in webtorrent-hybrid or other clients.

[2015-06-01 16:59] feross commented on #56
Fixed in WebTorrent 0.48.5.

[2015-06-01 16:59] #56 closed

[2015-06-01 17:57] feross commented on #54
The main tracker has been back up for a while. :+1: Closing this issue now.

Thanks for setting up mirrors @rom1504 and @jakefb! Let me know when you guys get SSL (wss://) working and I'll add your mirrors to instant.io. SSL really improves the probably that websockets will work. Proxies and ISPs often mess up ws:// connections.

[2015-06-01 17:57] #54 closed

[2015-06-01 22:18] jakefb commented on #54
Do I need to buy a signed certificate to setup SSL? If so could you reccomend a cost effective solution?

[2015-06-01 22:52] feross commented on #54
Namecheap sells SSL certs for $9/yr. https://www.namecheap.com/security/ssl-certificates/domain-validation.aspx I use the multi-domain version on webtorrent.io, since I wanted to cover webtorrent.io and tracker.webtorrent.io.

It's just $2 for first year if you buy a domain or renew something with them. https://www.namecheap.com/promos/exclusive-positive-ssl-offer.aspx

https://www.startssl.com/ c

[2015-06-02 00:28] feross commented on #46
This is a bug in the videostream package. I opened an issue there for you: https://github.com/jhiesey/videostream/issues/5

It would help @jhiesey if he had the original file to debug with. Can you email him a link to it? john [at] hiesey [dot] com

[2015-06-02 00:28] #46 closed

[2015-06-02 00:30] feross commented on #47
This isn't something I cannot comment on. You should seek your own legal counsel. Please don't use https://instant.io for sharing copyrighted content. The WebTorrent project does not condone copyright infringement.

[2015-06-02 00:56] feross commented on #41
This will be fixed by https://github.com/feross/webtorrent/issues/338

[2015-06-02 00:56] #41 closed

[2015-06-02 00:57] #47 closed

[2015-06-02 01:16] feross commented on #49
closing because i dont think is an important problem

[2015-06-02 01:16] #49 closed

[2015-06-02 22:35] jakefb commented on #46
I will do that. Thanks!

[2015-06-03 21:58] jhiesey opened #57 "`npm run watch` fails if `npm run build` has never been run"
This is a minor issue but it's probably easy to fix and would give a better experience right after cloning the repo.

[2015-06-06 19:09] feross opened #59 ""Streaming is not supported in this browser" message shows up for non-video files in Firefox"
We don't need to show "Streaming is not supported in this browser. Try a browser that supports MediaSource, like Chrome. You can still save the file once it's fully downloaded, if you want." when the user isn't trying to download a non-video file.

[2015-06-06 19:24] #57 closed

[2015-06-06 19:24] feross commented on #57
Fixed - thanks John!

[2015-06-06 20:22] feross commented on #36
I think the rate is actually correct, but there's a bit of delay between when the sender sends out data and the receiver gets it, so the uploader always has a higher number :)

Also, the uploader will keep sending up and past the point that udp packets start to get lost, so their upload rate is bound to be higher.

[2015-06-06 20:22] #36 closed

[2015-06-06 20:24] feross opened #60 "Regression: Support progressive mp3 playback in `<audio>` tag"
See https://github.com/feross/instant.io/pull/58

[2015-06-08 13:21] quicoto commented on #17
+1

[2015-06-09 01:30] Pawtiko opened #61 "Video autoplay"
The video previews autoplay when you upload them, but if you upload more than one video at once, they all play at the same time.

[2015-06-09 01:34] Pawtiko opened #62 "Large files fail to load"
Uploading large files (I tested with a file 1.25 GB large) fails to start seeding
![screencapture-instant-io-1433813314604](https://cloud.githubusercontent.com/assets/7896913/8048952/1e877d26-0e26-11e5-9a0f-1dc96f6dfb07.png)
.

[2015-06-11 02:25] feross commented on #62
The node.js buffer has a max limit of 1GB right now. Until we switch away from the in-memory representation of the torrent, we're stuck with this.

More info: https://github.com/feross/webtorrent/issues/319

[2015-06-11 02:25] #62 closed

[2015-06-11 02:26] feross commented on #61
PR welcome!

[2015-06-11 10:56] Pawtiko commented on #61
I'm sorry, but I don't understand what PR means in this context. Could you tell me what that means?

[2015-06-11 11:22] rom1504 commented on #61
https://help.github.com/articles/creating-a-pull-request/

[2015-06-11 21:42] feross commented on #45
This is actually a pretty neat idea. It might make sense on instant.io (not built directly into WebTorrent, of course). If someone wants to take a stab at this, it might be fun to deploy it and see how/if people use it.

[2015-06-12 01:06] feross opened #63 "PDFs stopped working with "sandbox" attribute"
Latest Chrome

[2015-06-12 01:07] feross commented on #63
@jhiesey any ideas?

[2015-06-12 13:24] jaybekster commented on #42
ERROR: connection error to wss://tracker.webtorrent.io?24c1e44471
ERROR: If you think this is a bug in webtorrent, report it!

[2015-06-12 19:00] harrisjose commented on #17
I'd like to take this on if no one else is on it. :)
I'm just getting started out with css and jquery [and new around here] so definitely gonna need lots of help.

uh and i've messing around with this for the last couple of hours..  ;)

![2015-06-13 00_16_41-instant io - streaming file transfer over webtorrent](https://cloud.githubusercontent.com/assets/10582112/8137693/aaa75f94-1162-11e5-84cc-cfc

[2015-06-12 19:03] alxhotel commented on #17
+1

[2015-06-12 19:13] quicoto commented on #17
Sweet!

[2015-06-12 20:00] feross commented on #17
Nice! Can you send a PR? This is way better than what we got now :+1:

But make sure you find some way to add back the "download from infohash" text input. Maybe a small link that enables the text input?

[2015-06-12 20:03] feross commented on #42
It looks like you're using an old version of webtorrent-hybrid. You can check the version with `webtorrent-hybrid -v`. It should be 0.49.1. If it's not, update with `npm install webtorrent-hybrid -g`

[2015-06-13 08:35] harrisjose commented on #17
Yeah Im still figuring out where to put that download part...
One thing i cant decide on is : where and how do i put the log ?

and btw do have an icon i can use for the logo instead of the rocket..

[2015-06-14 16:48] harrisjose commented on #17
Added footer and a link that shows a text input and button for 'download from infohash'
![2015-06-14 20_52_40-instant io - streaming file transfer over webtorrent](https://cloud.githubusercontent.com/assets/10582112/8149499/c8e740ba-12e2-11e5-85b1-d2eaaee27b08.png)

@feross  I have a few questions regarding this. Do I email you or ask here?

[2015-06-14 17:23] feross commented on #17
You can ask here.
On Sun, Jun 14, 2015 at 9:48 AM Harris Jose <notifications@github.com>
wrote:

[2015-06-14 18:14] harrisjose commented on #17
1. The css files have to be put in the 'css' folder right ? or do i put them in views along with  the jade files. I use skeleton.css and normalize.css
2. Why is the page split into layout.jade and index.jade ? why cant it be all in one file..

[2015-06-16 23:43] feross commented on #17
1. Yes.
2. You can get rid of layout.jade and just use index.jade if you want. The code was lifted from another site where there was a core layout that was reused across pages. But for instant.io, we only have one page.

[2015-06-19 16:12] harrisjose commented on #17
I'm sorry for the delay, but i'm having a pretty hard time getting instant.io up and running on my system..will try to send pr as soon as possible.

[2015-06-21 03:01] feross opened #64 "Add option to share to browser in proxity via audio"
Here's a mad science idea:

- Seeder broadcasts hash in audio form somehow (high frequency - inaudible, or audio modulation?)
- Downloader allows their mic to be used

[2015-06-21 22:20] feross commented on #64
@jhiesey What do you think of this idea?

[2015-06-21 22:26] mafintosh commented on #64
this would be awesome as a separate module!

[2015-06-21 22:27] feross commented on #64
Yes!

[2015-06-21 23:28] jakefb commented on #64
I think this would be really cool for setting up a  Apple TV or Chromecast like device. Imagine a box hooked up to a TV which is running an app (like playback) that listens for sound waves. When it receives the audio and is able to decode the info hash, it starts streaming the video from the nearby computer - similar to the user experience of an Apple TV!

[2015-06-21 23:38] rom1504 commented on #64
Oh, that sounds like google tone http://googleresearch.blogspot.fr/2015/05/tone-experimental-chrome-extension-for.html

[2015-06-28 11:42] #63 closed

[2015-06-28 11:43] feross commented on #63
Fixed by just removing the "sandbox" attribute when the file is .pdf. Chrome's pdf rendering plugin was getting blocked by `sandbox` for some reason.

[2015-06-29 01:11] feross opened #65 "video/audio autoplay does not work in Firefox"

[2015-06-29 01:14] feross opened #66 "For media source file types, use a waterfall of fallbacks"
Right now, the way we handle fallback is inconsistent. Here's what I think we should do:

1. If `videostream` supports the file type, try to use it.
2. If video/audio tag emits 'error', try using MediaSource directly
3. If video/audio tag emits another 'error' (and file is < 1GB), use blob url approach (this requires full file download, i.e. it's not streaming)

Pull out this logic into it's own f

[2015-06-29 01:18] jhiesey commented on #66
That sounds reasonable to me.

[2015-06-29 01:20] #60 closed

[2015-06-29 09:56] feross opened #67 "Seeding "sintel-2048-surround.mp4" doesn't work in Firefox Nightly"
http://mirrorblender.top-ix.org/movies/sintel-2048-surround.mp4

[2015-06-29 09:59] feross commented on #67
Oh, this looks like it's caused by Firefox's unfinished MediaSource implementation. There's an `NS_ERROR_UNEXPECTED: ` in the console.

Closing as Firefox's fault.

[2015-06-29 09:59] #67 closed

[2015-06-29 10:02] #65 closed

[2015-06-29 10:21] #59 closed

[2015-06-29 11:13] #48 closed

[2015-06-29 11:20] #42 closed

[2015-07-01 00:18] feross commented on #31
Duplicate of https://github.com/feross/webtorrent/issues/338

[2015-07-01 00:18] #31 closed

[2015-07-01 22:52] #39 closed

[2015-07-01 22:54] feross commented on #39
Lesson learned: Always need a try-catch around webrtc and websocket send.

[2015-07-03 01:21] #66 closed

[2015-07-03 01:27] #38 closed

[2015-07-03 18:57] feross commented on #15
Going to punt on this feature for now. I want to get the basics of webtorrent/instant.io as quickly as possible and this feature is a distraction.

The WebRTC transport is already encrypted, and if users really want they can encrypt their files before sending them with instant.io.

[2015-07-06 23:48] #53 closed

[2015-07-07 00:25] feross commented on #64
And https://shareby.me/

[2015-07-08 17:17] feross commented on #45
This is a cool idea, but out of scope. Closing so we can stay focused. Eye on the prize.

[2015-07-08 17:17] #45 closed

[2015-07-09 18:42] yangwao commented on #64
Some technical knowledge behind http://applidium.com/en/news/data_transfer_through_sound/

[2015-07-09 18:46] feross commented on #64
https://en.wikipedia.org/wiki/Hellschreiber

[2015-07-10 21:22] feross opened #68 "downloading .html file causes scripts to execute"
this is a security issue.

[2015-07-10 21:36] feross commented on #68
Actually, nevermind. The `sandbox` attribute on the `iframe` makes it act like a unique origin and it can't break out.

[2015-07-10 21:36] #68 closed

[2015-07-10 21:40] feross commented on #35
Not important

[2015-07-10 21:40] #35 closed

[2015-07-11 02:22] jakefb commented on #68
I think I added inline html files, but with iframe sandbox it should be fine ;)

[2015-07-19 04:16] zyzof opened #69 "npm install fails to install posix"
I am trying to set up a server in a Windows environment (though I've tried on Ubuntu 14.04, similarly fails on posix install). Here is the error:

 posix.cc
..\src\posix.cc(2): fatal error C1083: Cannot open include file: 'unistd.h': No
 such file or directory [<projdir>\instant.io\node_modul
es\posix\build\posix.vcxproj]

...

npm ERR! posix@2.0.1 install: `node-gyp rebuild`
npm ERR! Exit status

[2015-07-19 05:16] zyzof commented on #69
I've managed to get things up and running on Ubuntu, so I guess I'll just stick with that. Turned out the Ubuntu posix install error was due to the node binary being used actually being the "Amateur Packet Radio Node Program". See [this StackOverflow answer](http://stackoverflow.com/a/18130296/1388195).

[2015-07-19 20:51] alexlincoln opened #70 "Broken on Iceweasel"
The following error occurs when visiting the site on iceweasel

`TypeError: Rusha._core is not a constructor`

[2015-07-20 20:43] feross commented on #69
Oh, yes. On ubuntu, you can solve this by running: `sudo apt-get install nodejs-legacy` which gives you a `node` symlink.

I think we should still fix the issue on Windows.

[2015-07-20 23:05] feross commented on #69
The issue with the `posix` package should be fixed on Windows now. Let me know if you have further issues.

I published [downgrade](https://github.com/feross/downgrade) and [unlimited](https://github.com/feross/unlimited) that work on windows and made instant.io use those packages.

[2015-07-20 23:05] #69 closed

[2015-07-21 06:57] zyzof commented on #69
unlimited appears to have the same error, failing on posix.

Running `node server/index.js gives the following:

E:\Devel\Torrents\instant.io\node_modules\downgrade\index.js:17
      process.getuid(), uid, process.getgid(), gid
              ^
TypeError: undefined is not a function
    at downgrade (E:\Devel\Torrents\instant.io\node_modules\downg
rade\index.js:17:15)
    at E:\Devel\Torrents\insta

[2015-07-23 00:56] feross commented on #69
@zyzof Sorry about that. Can you delete your `node_modules` folder, re-install, and try again? I didn't know that node.js's `process.getuid` is undefined on windows. This is fixed now.

[2015-07-23 01:15] feross opened #72 "Mirrors should use https://instant.io/rtcConfig if their own URL does not work."

[2015-07-23 01:37] feross commented on #72
Fixed in https://github.com/feross/instant.io/commit/a3f6ec9901ec5ea97750999fcf6ebffa388da788

[2015-07-23 01:37] #72 closed

[2015-07-23 02:16] feross commented on #70
What version of Iceweasel are you using?

Does the error happen in Firefox?

[2015-07-23 02:49] alexlincoln commented on #70
I'm using version 31.8.0, and no the error only seems to be specific to Iceweasel

[2015-07-24 10:39] feross commented on #70
Looks like the Rusha package (used for sha1 hashing) is broken on Iceweasel (i.e. Firefox 31). I did a bit of digging and filed a bug on the Rusha repo: https://github.com/srijs/rusha/issues/30

If the [Web Crypto Subtle API](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto) is available (Iceweasel/Firefox 34 and later) then that will be used instead of Rusha. If you use a newer versi

[2015-07-24 10:39] #70 closed

[2015-07-24 13:04] rom1504 commented on #34
related with https://github.com/feross/webtorrent/issues/384

[2015-07-26 21:42] feross opened #73 "Show waveform for audio files"
Use https://github.com/katspaugh/wavesurfer.js

[2015-07-27 01:46] alexlincoln commented on #73
@feross here's a quick preview...one question though

![2015-07-26-173325_768x670_scrot](https://cloud.githubusercontent.com/assets/6338358/8897129/5928b922-33c4-11e5-818f-976bfa704167.png)

1. Right now I'm using [this module](https://www.npmjs.com/package/file-type) to detect the file's MIME type and overriding all audio files to use this widget instead. Is there a better solution you can think

[2015-07-27 23:18] feross commented on #73
I think the right place for this change is in webtorrent in [`lib/append-to.js`](https://github.com/feross/webtorrent/blob/master/lib/append-to.js) so that all users of WebTorrent get this feature!

[2015-07-29 00:55] feross opened #74 "add magnet: protocol handler"
We can actually intercept clicks on `magnet:` links and direct them to https://instant.io!

https://developer.mozilla.org/en-US/docs/Web-based_protocol_handlers

Why didn't I think of this before?

[2015-07-29 00:58] feross opened #75 "add custom search engine"
With a custom search engine, Chrome will let the user type "instant.io" TAB and then paste a magnet link etc. and send them to https://instant.io, passing along the magnet link in the URL.

Other browsers, like Firefox, the user will see a little icon to add the search engine:

![screen shot 2015-07-28 at 5 58 07 pm](https://cloud.githubusercontent.com/assets/121766/8947645/3e63f720-3552-11e5-82ac

[2015-07-29 05:52] #74 closed

[2015-07-29 05:52] #75 closed

[2015-07-29 06:46] feross commented on #75
This is live on instant.io now!

[2015-07-29 06:46] feross commented on #74
This is live on instant.io now!

[2015-07-29 09:34] rom1504 commented on #74
Does that mean that clicking on the "[Magnet URI]" link on instant.io should start a new tab with instant.io downloading that magnet ?
Doesn't seem to work here (chrome 43)

[2015-07-29 09:35] feross commented on #74
@rom1504 You have to click the little icon on the address bar to enable it:

![screen shot 2015-07-29 at 2 34 56 am](https://cloud.githubusercontent.com/assets/121766/8954441/7c8527fc-359a-11e5-9f05-617ac3d97c22.png)

In Firefox, you click the "+" icon in the search bar:

![screen shot 2015-07-28 at 5 58 07 pm](https://cloud.githubusercontent.com/assets/121766/8954451/881bb20c-359a-11e5-847f-713db

[2015-07-29 09:37] rom1504 commented on #74
Yeah I just saw that !
In firefox it actually also ask it with a small banner under the address bar.

[2015-07-29 10:05] feross opened #76 "download .torrent link should include good default trackers"
currently it only includes wss://tracker.webtorrent.io

[2015-07-29 10:06] feross commented on #74
Right!

[2015-07-30 00:03] feross opened #77 "Register an "onhashchange" event"
So the user can update the URL and hit enter and have it work.

[2015-07-30 00:19] #77 closed

[2015-07-30 00:29] feross opened #78 "Make it easier to copy the share link"
Copy the `prompt()` technique used by Talky.io's "Invite" button:

<img width="677" alt="screen shot 2015-07-29 at 5 29 10 pm" src="https://cloud.githubusercontent.com/assets/121766/8973220/59467264-3617-11e5-95cb-4e1e134660e6.png">

[2015-08-01 00:20] marianobrc opened #79 "Error uploading large files"
I've tried to upload a video MP4 file to instant.io to seed it and i got this error on the console:

Uncaught RangeError: Invalid typed array lengthallocate
@ bundle.js:566fromNumber
@ bundle.js:469Buffer
@ bundle.js:456Storage
@ bundle.js:10817Torrent._onMetadata
@ bundle.js:11404Torrent._onSwarmListening
@ bundle.js:11361(anonymous function)
@ bundle.js:8511RawTask.call @ bundle.js:8566flush @ b

[2015-08-01 00:31] feross commented on #79
How big is the file?
On Fri, Jul 31, 2015 at 5:20 PM Mariano <notifications@github.com> wrote:

[2015-08-01 01:18] marianobrc commented on #79
The file size is 1.9 GB. I've tried with another smaller video of 8MB and it works just fine.

[2015-08-06 08:54] feross commented on #79
@marianobrc The max file size that is supported is dependent on your processor architecture. 32-bit browsers have 1GB max. 64-bit browsers *should* support up to 2GB.

[2015-08-06 08:54] #79 closed

[2015-08-16 15:33] szeloof opened #81 "Reduce ~20second wait to download files"
I've noticed that  downloading a file (from info hash) from instant.io it takes approximately 20 seconds each time to find peers and start receiving data from them. Is there any way to reduce this?

[2015-08-19 11:01] feross commented on #81
Not sure why this happens. Let's keep this issue open to investigate.

[2015-08-19 17:44] szeloof commented on #81
Agreed. While downloading I, I get `simple-websocket read: 2056 bytes +4ms` and then it pauses for about 20 seconds before starting the download. I've tried this in Firefox and Chrome on multiple devices. Oddly, this did not occur on a Chromebook.

[2015-08-21 22:46] joshterrill opened #82 "Config option for deploying to heroku"
What do you put for the IP address when deploying to heroku?

Edit: do you have to to use something like this? https://devcenter.heroku.com/articles/quotaguardstatic

[2015-08-22 00:29] feross commented on #82
Can you try setting it to `undefined`? I think you can just leave it out.

[2015-08-23 22:34] feross commented on #78
This was fixed by @gcq in https://github.com/feross/instant.io/pull/80 a few weeks ago!

[2015-08-23 22:34] #78 closed

[2015-08-23 22:35] feross commented on #82
@alexlincoln - you deployed a mirror to Heroku, right? Can you help out @joshuaterrill here?

Also, weren't you going to add a one-click deploy to Heroku button to the readme?

[2015-08-24 06:52] alexlincoln commented on #82
@joshuaterrill you won't need to define an IP, simply using `undefined` should work. You do however need to add `process.env.PORT` to both protocols since Heroku dynamically assigns the app a port when its created. Here's an example of my config:

[code]
@feross Yep, I'm still planning on it I've just been fairly busy lately. I do need to tweak the configuration a bit more to make sure everything

[2015-08-25 21:21] joshuaterrill commented on #82
Right on, thanks guys!

[2015-08-25 21:34] joshuaterrill commented on #82
I've tried to create a heroku instance of instant.io... I've created the config file as you instructed, ran npm install, created a proc file with npm start in it, then did heroku create and pushed my changes out. However I'm getting an application error. Here's the log file:
[code]

[2015-08-25 23:06] alexlincoln commented on #82
@joshuaterrill It's basically missing necessary devDependencies to build the css and js. I'm still working on this issue, which is basically creating a custom buildpack to install `stylus` and `browserify` locally to build the assets when the app is deployed (basically something similar to this https://github.com/abhishekmunie/heroku-buildpack-webassets).

For now, what I ended up doing was build

[2015-08-26 04:44] joshuaterrill commented on #82
Why not just include that devdependency process inside the npm start process? Theoretically you could do that as well, right?

[2015-08-26 21:06] alexlincoln commented on #82
@joshuaterrill Alright so this is happening because Heroku doesn't have the supplied permissions to downgrade (basically to downgrade an process' privileges to that of a normal user if they were elevated). That's OK, since we don't actually need to downgrade on Heroku since the process is already fairly limited (to my knowledge). To fix this:

Go into `server/util.js` and change `if (process.platf

[2015-08-28 17:35] feross commented on #82
@alexlincoln If you want to submit these changes in a PR, I will merge them. It sounds like these changes will not affect non-heroku users.

Also, `server/util.js` is no more. The downgrade code is in it's own package now: https://npmjs.com/package/downgrade

[2015-08-28 17:46] ke7ofi opened #83 "embedded STL viewer"
GitHub uses one, though I can’t find the source. Would it be difficult to add one?

[2015-08-28 17:49] ke7ofi commented on #83
I found one [here](http://www.viewstl.com/embed/). That might make it a bit more viable.

[2015-08-28 18:24] feross commented on #83
@ke7ofi Neat idea!

Right now, the code that handles embedding different types of media lives in the webtorrent package at [lib/append-to.js](https://github.com/feross/webtorrent/blob/master/lib/append-to.js). I think that putting STL support there might drastically increase the size of the currently small webtorrent js bundle.

But adding it to instant.io is a great idea! I couldn't see any sourc

[2015-08-28 18:25] feross commented on #83
@maxogden has an old package that might work, or make a good starting point: https://www.npmjs.com/package/stl-obj-viewer

[2015-08-28 19:58] maxogden commented on #83
demo http://maxogden.github.io/stl-obj-viewer/

On Fri, Aug 28, 2015 at 11:25 AM, Feross Aboukhadijeh <
notifications@github.com> wrote:

[2015-08-28 20:19] ke7ofi commented on #83
Is there any way of telling append-to.js to “pipe” it to some other program, or does it have to be fairly integrated? This seems like a case where the Unix approach would be better in the long term as you add more filetypes.

[2015-08-29 22:59] alexlincoln commented on #82
@feross Sounds good, I'll get on that today

[2015-08-29 23:11] feross commented on #82
Nice, looking forward to it

On Sun, Aug 30, 2015 at 12:59 AM alexlincoln <notifications@github.com>
wrote:

[2015-08-30 20:27] feross commented on #83
@maxogden nice!

[2015-08-30 20:32] feross commented on #83
@ke7ofi Yes, there's already an API to pipe files to arbitrary destinations. See [`file.createReadStream()`](https://github.com/feross/webtorrent#stream--filecreatereadstreamopts), which returns a node.js readable stream which you can pipe to any writable stream, or process by listening to `'data'` events.

For the most common case of appending video, audio, or images to the DOM, I think it's nice

[2015-09-18 22:48] feross opened #86 "Update server to node v4"

[2015-10-19 17:22] Pawtiko commented on #17
Any progress with this? @harrisjose? it's been awhile...

[2015-10-19 21:12] joshterrill commented on #17
I can take a stab at it tonight. It wouldn't be too hard to recreate this. I'll post what I come up with some time tomorrow.

[2015-10-19 23:21] rileyjshaw commented on #17
I'm not convinced that the proposed design actually improves the interface. Biggest concern is that there's no longer a text input for the info hash..?

I'd be happy to give it a go, but don't want to step on @joshterrill or @harrisjose's toes. Ping me if I can help out.

[2015-10-19 23:57] joshterrill commented on #17
Doesn't matter to me :)

On Mon, Oct 19, 2015 at 4:21 PM, Riley Shaw <notifications@github.com>
wrote:

--
Josh Terrill // developer
209-676-7334

[2015-10-20 08:01] rileyjshaw commented on #17
Alright! I'll work on a re-redesign in my spare time.
I've got a busy month coming up, so you might want to just go ahead with the existing design. I don't want to block this issue, so I'll create a new PR if/when I get around to it :)

[2015-10-20 08:06] joshterrill commented on #17
Sounds good. For now, I'll fork the repo and continue with what I was going
to do, then you can just make your changes when you get around to it.

On Tue, Oct 20, 2015 at 1:01 AM, Riley Shaw <notifications@github.com>
wrote:

--
Josh Terrill // developer
209-676-7334

[2015-10-31 06:03] nevilgeorge commented on #61
Should the expected behavior be to play only the first video?

[2015-10-31 18:49] feross commented on #61
Yeah, I think that's right.
On Fri, Oct 30, 2015 at 11:03 PM Nevil George <notifications@github.com>
wrote:

[2015-11-19 08:00] conundrumer commented on #64
shareby.me src: https://github.com/khankuan/shareby.me

[2015-11-22 03:03] feross commented on #86
This is done!

[2015-11-22 03:03] #86 closed

[2015-11-22 03:03] feross commented on #32
Moving to https://github.com/feross/webtorrent-www/issues/27

[2015-11-22 03:03] #32 closed

[2015-11-22 03:05] feross opened #88 "Zero-downtime deploy"
Anytime someone git pushes to this repo, the site gets shutdown, `npm install` and `npm run build` runs, and the site comes back online. Total time: 2 minutes.

Make this faster.

[2015-11-22 03:05] #88 closed

[2015-11-22 03:34] feross opened #89 "SSL Check"
Make sure instant.io and webtorrent.io get an A, and add them to the HSTS preload list

[2015-11-22 19:49] feross commented on #89
Both https://instant.io and https://webtorrent.io now get an A+ on the SSL Labs test, and have been added to the HSTS preload list.

[2015-11-22 19:49] #89 closed

[2015-11-22 19:50] feross commented on #89
https://www.ssllabs.com/ssltest/analyze.html?d=instant.io
https://www.ssllabs.com/ssltest/analyze.html?d=webtorrent.io

[2015-12-04 01:14] feross opened #92 "Magnet uri contains duplicate web seed urls"
1. Drop sintel.torrent (from webtorrent.io) onto https://instant.io
2. Copy the magnet link

It has a duplicated web seed url:

[code]

[2015-12-04 04:21] #92 closed

[2015-12-04 07:02] DiegoRBaquero commented on #76
Includes BTorrent's now.

[2015-12-04 07:28] feross commented on #76
Yep, closing this now.

[2015-12-04 07:28] #76 closed

[2015-12-14 14:18] Drugoy opened #93 "Doesn't work for me as a download client"
I once visited instant.io and browser (latest Firefox release, x32) asked whether I want to add this site as a handler for ``magnet:`` URIs and I agreed.
Now I visit some piratebay trackers and click on a magnet link - I get redirected to an instant.io  page where all I see is
[code]

and nothing ever happens.
W7SP1x64

[2015-12-14 14:27] Drugoy commented on #93
Java Error Console Log:
[code]

[2015-12-14 15:05] rom1504 commented on #93
@Drugoy most torrents aren't seeded in the webrtc networks.

[2015-12-14 17:42] Drugoy commented on #93
@rom1504 could you elaborate please? Did I get you right that instant.io if used as a torrent client (for leeching) can only leech from peers that also use instant.io (for seeding)?
I thought instant.io can replace a torrent client, and you say that it's actually an extra to it?
Are there any modern desktop torrent clients that can also work via webrtc networks?

Someone, please, add some FAQ for

[2015-12-14 17:45] rom1504 commented on #93
![image](https://raw.githubusercontent.com/feross/webtorrent/master/img/network.png)

and more generally see https://github.com/feross/webtorrent

browsers cannot use TCP, so they cannot connect to normal clients

[2015-12-14 17:51] DiegoRBaquero commented on #93
Instant.io can only connect to webrtc peers. You could use webtorrent in node for what you are looking for :)

[2015-12-14 18:00] Drugoy commented on #93
From webtorrent's info:

I thought this means that instant.io is a webtorrent-hybrid that would let me download files from bittorent trackers.

I am now confused: what's the difference between instant.io and webtorrent.io?

So if webtorrent.io is a torrent client then instant.io must be the hybrid node.
Am I wrong?

[2015-12-14 18:04] DiegoRBaquero commented on #93
No no no, you are confusing things. WebTorrent.io is just a website that uses WebTorrent (in its main page for the video)

Instant.io is a WebTorrent client for webrtc peers only.

No WebTorrent client in the browser can connect to TCP/uTP nataurally, unless extesion were added or something.

webtorrent-hybrid is a node module that you can install. Check https://github.com/feross/webtorrent-hybrid

[2015-12-14 18:31] Drugoy commented on #93
So WebTorrent (bittorrents + werbrtc-torrents) > instant.io (only webrtc-torrents), but WebTorrent requires node.js stuff, while instant.io requires just a modern browser.
Got it, thanks! :)

[2015-12-14 18:31] #93 closed

[2015-12-14 18:37] DiegoRBaquero commented on #93
@Drugoy WebTorrent is for bittorrent in node, webrtc-torrents in browser. WebTorrent-Hybrid is for both types in node.

Instant.io is just a website that **uses** WebTorrent, so webrtc-torrents only.
βTorrent.xyz is a website browser-client that **uses** WebTorrent, so webrtc-torrents only.

[2015-12-17 06:03] feross commented on #18
I want to implement this, since it'll be easier to share files if the server can help out when your connection is spotty or you go offline.

[2015-12-17 06:04] feross commented on #15
Re-opening, since this feature is a requirement for #18.

[2015-12-17 22:14] JohnBillington opened #94 "Show QR code"
Show a QR code for the different links so that mobile devices can become peers without users having to type in the URL.

[2015-12-30 22:17] joshterrill commented on #94
I can give this a go if it's wanted.

[2015-12-31 16:28] JohnBillington commented on #94
I only use instant.io occasionally, so don't feel obliged to do this for my sake. I do think that this feature would be very handy though.

[2016-01-01 19:39] feross commented on #94
@joshterrill Yeah, that would be cool to try. But are there any good QR *reading* libraries in pure javascript? I've seen tons of QR code generators, but only a few that can take grainy images from a webcam and parse the QR codes out of them.

[2016-01-02 10:35] joshterrill commented on #94
I'll look around and post what I find before I really start digging into it.

[2016-01-09 21:07] feross opened #96 "Print file names"

[2016-01-09 21:20] #96 closed

[2016-01-13 04:37] oknoorap opened #97 "Streaming File"
Can I download file like pdf, mp3, etc? I tried to paste magnet link (e.g pdf format) but doesn't work.
e.g URL https://kat.cr/books/
thanks..

[2016-01-13 10:24] alxhotel commented on #97
Please read [issue #466](https://github.com/feross/webtorrent/issues/466)

[2016-01-13 12:57] oknoorap commented on #97
Thanks. Okay I see, so webtorrent doesn't support external peers, i thought webtorrent adopts the philosophy of "torrent" but it actually a web peers not "torrent" because only support internal peers.

[2016-01-13 16:28] rom1504 commented on #97
not internal peers, webrtc peers.

[2016-01-13 16:31] oknoorap commented on #97
@rom1504 okay :smile:  :+1: apologize noob here

[2016-01-15 01:24] feross commented on #97
@oknoorap Please don't discuss copyright infringement on the issue tracker. That is not allowed and we cannot help with those types of requests.

[2016-01-15 01:24] #97 closed

[2016-01-15 01:27] #61 closed

[2016-01-15 01:33] feross commented on #81
This is probably just the WebRTC handshake. The fact that the pause is after the websocket data has been read means that it's not the tracker server. I don't there's much we can do here, since it's network dependent and NAT dependent.

However, we can probably do work to make the initial websocket connection happen faster. I'll open an issue on WebTorrent for that.

[2016-01-15 01:36] feross commented on #81
See https://github.com/feross/webtorrent/issues/574

[2016-01-15 01:36] #81 closed

[2016-01-18 17:49] Saheb opened #98 "Avi doesn't append to DOM"
![image](https://cloud.githubusercontent.com/assets/1163256/12398456/d5b3156e-be39-11e5-8dbf-ae4e042d10a8.png)

[2016-01-19 05:44] feross commented on #98
AVI is not supported for streaming by WebTorrent. It's actually surprisingly difficult to support new video formats, as @jhiesey will attest :) If you'd like to help add support for more formats, check out [videostream](https://npmjs.com/package/videostream) where most of this work is happening.

[2016-01-19 05:44] #98 closed

[2016-01-22 18:21] charon4ever opened #99 "can't get main.css & bundle.js when running this site on my own server"

[2016-01-31 06:46] joshterrill commented on #99
In order for the `main.css` and `bundle.js` files to be created, you have to run the npm build command that is defined in `package.json`. Running this compiles the css and js files needed to run the app.

[2016-02-07 22:00] feross commented on #99
Yep, @joshterrill is correct!

[2016-02-07 22:00] #99 closed

[2016-02-07 22:56] nodiscc commented on #99
Is a prebuilt version available somewhere? I think [attaching](https://github.com/blog/1547-release-your-software) a prebuilt, ready-to-unzip-and-use archive to the next release would be great. Thanks for your work on this really nice project.

[2016-02-08 03:17] feross commented on #99
Is running:

[code]

too hard?

I'm kind of hesitant to pre-bundle the assets because it makes pushing code to the repo a bit harder – adds an extra step for me every time.

[2016-02-09 01:28] joshterrill commented on #99
@feross you can actually do it with just the install and start, build is included in the start script.

[2016-02-09 18:04] feross commented on #99
@joshterrill Nice, I forgot about that :)

[code]

[2016-02-27 17:28] rom1504 opened #102 "cors header for instant.rom1504.fr"
Thanks !

[2016-02-27 21:15] #102 closed

[2016-02-27 21:16] feross commented on #102
This is fixed now :)

[2016-03-02 17:16] xxxorg commented on #94
@feross I found just https://github.com/LazarSoft/jsqrcode, do you know any other qr reading in js?

[2016-03-02 17:18] xxxorg commented on #94
Would you accept PR just for the qr code generation (not the reading)?

[2016-03-11 23:18] joshterrill commented on #94
@xxxorg I don't think we need it to read... I think it's just QR code generation so that a mobile app who has a reader can scan it. Am I right?

[2016-03-12 00:09] feross commented on #94
I would accept a PR just for generation for now. We can figure out reading
later.

On Fri, 11 Mar 2016 at 15:18 Joshua Terrill <notifications@github.com>
wrote:

[2016-03-12 06:13] nodiscc commented on #94
I can recommend http://neocotic.com/qr.js/ for QR generation which I have been using for years in a web application.

[2016-03-16 08:36] joshterrill commented on #94
I just wrote this today but forgot to commit it. I'll do it later today.

[2016-03-19 06:21] Ravenstine commented on #64
Not sure if this helps(and I'm being biased here since it's my project), but [this is an example](https://github.com/Ravenstine/goertzeljs) of decoding audio signals in JS.  Okay, technically CoffeeScript.

Google Tone suggests use of DTMF, which the goertzeljs demo includes, though I'd think that something FSK based might work better as it could allow for frequencies that are out of range of huma

[2016-03-19 06:31] feross commented on #64
@Ravenstine Very neat library! Just tried it out and it worked perfectly. It's also amazingly lightweight:

[code]

Do you have any interest in sending a PR that uses goertzeljs to implement this behavior?

[2016-03-19 17:57] Ravenstine commented on #64
@feross Sure, that'd be fun. :)

[2016-03-26 23:13] asifagaria commented on #21
any guide how to run instant.io ubuntu

[2016-03-26 23:15] feross commented on #21
@asifagaria There are instructions here: https://github.com/feross/instant.io/blob/master/README.md#run-a-copy-of-this-site-on-your-own-server

[2016-03-26 23:19] asifagaria commented on #21
im install it it's not work

[2016-03-26 23:35] feross commented on #21
@asifagaria Sorry, can't help you without more information.

[2016-03-27 21:00] asifagaria commented on #21
it's nothing do action
![image](https://cloud.githubusercontent.com/assets/19821/14067864/e269f3ba-f488-11e5-9f85-131860d13ebf.png)

[2016-03-27 21:18] asifagaria opened #105 "it's nothing do action"
i run it wan a upload image or any file nothing to do anything

![image](https://cloud.githubusercontent.com/assets/19821/14067864/e269f3ba-f488-11e5-9f85-131860d13ebf.png)

[2016-03-27 21:51] asifagaria commented on #105
showing error

![image](https://cloud.githubusercontent.com/assets/19821/14068030/ea5691da-f48f-11e5-9ecd-7bce44957c7b.png)

[2016-03-27 23:18] feross commented on #105
Looks like you're missing an npm dependency. Try deleting your `node_modules` folder and re-running `npm install`.

[2016-03-27 23:18] #105 closed

[2016-03-28 08:39] asifagaria commented on #105
Dear Sir How To Change tracker links announce like this

udp://exodus.desync.com:6969

udp://tracker.coppersurfer.tk:6969

udp://tracker.internetwarriors.net:1337

udp://tracker.leechers-paradise.org:6969

[2016-04-07 11:50] Danita commented on #17
Is there anybody still working on this issue? Because I just discovered instant.io and it seemed to me that a redesign could make it more approachable and I wanted to contribute in my spare time. I have some questions:

* I set up the repo for development but I cannot find the way to make the `watch` task to watch for changes on the jade files.
* Is there any specific need to use jade and stylus i

[2016-04-07 18:04] robrobinbin commented on #17
I also just discovered instant.io and webtorrent in general (I heard of it before, but didn't understand it).

instant.io  is awesome as a tech demo, but the basic lay-out makes a bit confusing. I wouldn’t use this site in it current form to share files with my friends. I'll briefly describe the drawbacks I have, maybe it can help you guys when you're changing the theme.

I'm using Firefox. So I s

[2016-04-07 18:20] rileyjshaw commented on #17
I should have posted an update here earlier – I'm no longer working on this :disappointed:

[2016-04-22 12:18] harrisjose commented on #17
I'm sorry for not updating the status sooner, but I never could get it working with the changes I made. I was a complete noobie to node and jade when i started working on this. Probably shouldn't have taken it on.

[2016-05-04 00:40] jvsell opened #108 "Cash the brownser"
When I open a 1.2GB movie about the browser crashes and playback does not start.

However the file name carries this is a detail.

Anyone know a solution?

[2016-05-04 00:40] jvsell commented on #108
Anyone know a solution?

[2016-05-04 07:04] kevinsimper opened #109 "Torrent.swarm is deprecated"
The console says "torrent.swarm is deprecated" and it does not seem to work trying to seeding a file.

[2016-05-04 12:26] feross commented on #109
This is a bug in webtorrent -- will fix. Thanks for reporting.

[2016-05-04 12:28] #109 closed

[2016-05-04 12:59] feross commented on #108
This was a bug in webtorrent -- sorry, it is fixed now.

[2016-05-04 12:59] #108 closed

[2016-05-16 11:48] raeesiqbal opened #110 "Does not download from the local peers preferability"
I tried to share a torrent today with my other computer via WebTorrent for Mac and instant.io. But because it was a popular torrent and other people were seeding it using WebTorrent and instant.io only connects with 10 peers, it did not connect to my seeding computer on the same network. Maybe it should iterate through different unconnected peers and [check if they are in local network](https://di

[2016-05-16 22:32] feross commented on #110
The [limitation on number of peers](https://github.com/feross/bittorrent-tracker/blob/master/lib/client/websocket-tracker.js#L64) is just a temporary fix until Chrome 51 is released. There's a bad leak on OS X that causes 100% CPU usage. Once that's out, we can bump that number by a factor of 2 or 4, and then the chance that your local peer will be found will be higher.

But there's nothing we can

[2016-05-16 22:32] #110 closed

[2016-05-16 22:33] feross commented on #110
Made an issue to track progress on that fix: https://github.com/feross/bittorrent-tracker/issues/152

[2016-06-02 13:57] iouss opened #111 "Add own turn server"
Hello,

Please, could you help me to set my own turn server ?

thanks

Oussama

[2016-06-02 20:20] feross commented on #111
Sorry -- this is not a support forum.

I use [this Twilio service](https://www.twilio.com/stun-turn) for TURN.

[2016-06-02 20:20] #111 closed

[2016-06-03 09:36] iouss commented on #111
Hello,

Thanks for your help, I'll try to put a static Turn server.

Regards,
Oussama

On Thu, Jun 2, 2016 at 10:20 PM, Feross Aboukhadijeh <
notifications@github.com> wrote:

--
Avec mes cordiales salutations.
*Oussama GHERMOUL *
06 68 43 17 56

[2016-06-23 09:58] kanzakignt opened #112 "Error at start: /usr/bin/env: node: No such file or directory"
Hello,  @feross (feross)

This might sound like a stupid question but I'm having a hard time installing an instant.io clone for a zeronet website.

I get the following error code after "npm start"

[code]

Any idea on what could fix it?

Thanks!

[2016-06-25 09:57] joshterrill commented on #112
How did you install node? The error says that it might be to the use of using `legacy-node`. Is that what you have?

[2016-07-15 08:16] feross commented on #112
On Debian-based systems you need to install `nodejs-legacy` which installs a symlink from `node` to `nodejs`.

[code]

To get Instant.io working over ZeroNet, though, you probably don't want to use Node.js at all. You can actually make a version of Instant.io that has no server-side component at all. The server here is just to serve the basic HTML and expose the (optional) TURN credentials.

[2016-07-15 08:16] #112 closed

[2016-07-27 03:45] feross commented on #82
@ghost PR still welcome, but I'm going to close this issue now.

[2016-07-27 03:45] #82 closed

[2016-07-27 05:48] feross opened #113 "Simplify: get rid of nib"

[2016-07-28 11:36] SungjungKim opened #114 "Error: Cannot find module 'package-json-versionify' from ..."
Hi @feross

I'm trying to install webTorrent client. But there is small problem like below.

I got the following error code after `npm start` and I typed the `npm install package-json-versionify` command.
But problem is still that.

Any idea what could fix it?

[code]

[2016-07-30 00:37] feross commented on #114
I suggest running `rm -rf node_modules/ && npm cache clean && npm install` once more. Can't think of why this one package would be missing for you.

[2016-07-30 00:37] #114 closed

[2016-08-03 19:54] feross commented on #113
Fixed by https://github.com/feross/instant.io/commit/fc74894e55d2300602323d0112d7a721a3558166

[2016-08-03 19:54] #113 closed

[2016-08-10 14:29] agenestar commented on #17
Is anybody working on the redesign?
Have anybody done a psd with the desired design?

[2016-08-10 19:04] robrobinbin commented on #17
I'm not working on a functioning design, but I made a very rough mock-up.

I think some kind of tabbed structure would be nice.

![schermafdruk1](https://cloud.githubusercontent.com/assets/8597693/17566887/6e8a12c0-5f3d-11e6-9300-1300222f7017.png)
Pressing the "+" on the side summons a pop-up more or less like this (but more polished)

![schermafdruk2](https://cloud.githubusercontent.com/assets/85

[2016-08-11 06:51] feross opened #116 "Add FAQ section"
- How does this work?
- Is it secure and private?
- What is WebTorrent?
- How large can the files be?
- How does streaming work?

[2016-08-11 08:16] joshterrill commented on #116
Will this work with all torrents? (I always see people ask this question)

[2016-08-11 08:24] feross commented on #116
Yep good one.
On Thu, Aug 11, 2016 at 1:17 AM Joshua Terrill <notifications@github.com>
wrote:

[2016-08-13 21:10] mobydi commented on #116
Does it support iOS safari 10?

[2016-08-19 07:44] sweety808 opened #117 "Installation on Debian"
Hi all,

I'm trying to start a clone of instant.io in my debian server but I got an erreur when I try to run it.

/usr/bin/env: node: No such file or directory

npm ERR! instant.io@1.0.0 build-css: `stylus css/main.styl -o static/ -c`
npm ERR! Exit status 127
npm ERR!
npm ERR! Failed at the instant.io@1.0.0 build-css script.
npm ERR! This is most likely a problem with the instant.io package,
npm E

[2016-08-19 08:40] joshterrill commented on #117
What were the commands you did to start it? Did you run `npm run build` before `npm start` to compile all the css and javascript files?

[2016-08-19 08:46] feross commented on #117
See http://stackoverflow.com/a/18130296/292185

Duplicate of https://github.com/feross/instant.io/issues/112

[2016-08-19 08:46] #117 closed

[2016-08-19 10:34] sweety808 commented on #117
Yes it work 👍
Thanks everyone

[2016-08-22 10:08] sweety808 opened #118 "File length too large for Blob URL approach"
Giving the possibility to stream big files

Error rendering file "filename": File length too large for Blob URL approach: 1800619884 (max: 200000000)

[2016-08-22 23:38] #118 closed

[2016-08-22 23:38] feross commented on #118
Fixed.

[2016-08-27 20:24] rugk opened #119 "Add copy button"
You can just use https://github.com/zenorocha/clipboard.js/

[2016-08-27 20:26] rugk commented on #94
As for qrcode generation there is also https://larsjung.de/kjua/. It works without jQuery and is very powerful.

[2016-08-27 20:32] rugk commented on #15
FYI there is a lib developed, which uses NaCl encryption on top of WebRTC to encrypt files end-to-end in a secure way (so the signalling servers cannot do MITM attacks): https://github.com/saltyrtc

[2016-09-04 07:15] goldenratio opened #120 "Uncaught TypeError: Cannot read property 'slice' of undefined"
It doesn't work.
Demo URL https://instant.io/#9c98134a9702aadfb90394ae8ab21cd5436578a6

Chrome console log
[code]

Firefox console log
[code]

Video file format was mp4

Update:
If I use .gif format it works
https://instant.io/#c908b6306955a46577f5a4780b982fa1a466c371

[2016-09-13 16:38] feross commented on #120
Wow, this is an interesting bug. Can you email me the .mp4 file you were using so I can investigate this further? My email is on my github profile page.

Thanks!

[2016-09-13 16:38] #120 closed

[2016-09-13 18:35] goldenratio commented on #120
sent.

[2016-09-14 08:51] jhiesey commented on #120
I'll take a look as soon as I can, which probably means this weekend or so.

[2016-09-14 18:08] feross commented on #120
Thanks, @jhiesey!

[2016-09-16 08:03] tmikaeld opened #121 "SSL Cert: Hostname mismatch"
![screenshot_2016-09-16_10-02-44_am](https://cloud.githubusercontent.com/assets/907195/18579239/c1cddb1e-7bf4-11e6-9ebf-f5191422b6ea.png)

[2016-09-16 08:03] tmikaeld commented on #121
Seems you applied webtorrent.io to instant.io

[2016-09-16 09:47] timfish commented on #121
and due to HSTS being enabled, I cant ignore the error!

[2016-09-16 15:12] roccomuso commented on #121
+1

[2016-09-16 15:13] feross commented on #121
Sorry folks -- I'm looking into this now.

I recently migrated the server from my personal account to a WebTorrent dedicated hosting account and it looks like it wasn't perfectly smooth.

Will update here.

[2016-09-16 15:15] tmikaeld commented on #121
@feross

Please don't stress about it, It's a free service and we are all grateful.
I just wanted to make sure it doesn't go unnoticed for too long ;-)

[2016-09-16 15:28] feross commented on #121
@tmikaeld Thanks 👍

[2016-09-16 15:30] feross commented on #121
Turns out this was a simple DNS misconfiguration. When moving the DNS over, I pasted the IP of webtorrent.io for instant.io. 😵

It's fixed now, but it could take a few hours for DNS to propagate across the internet.

Cheers! 🎉

[2016-09-16 15:30] #121 closed

[2016-09-16 15:38] tmikaeld commented on #121
@feross

Thanks for fixing it so fast! Skål!*

(*Cheers in Swedish)

[2016-09-16 15:43] feross commented on #121
Nice, I know this greeting from my Danish friend where the greeting is the same.

Skål!

[2016-09-20 05:20] Eido95 opened #122 "Show download estimated time of arrival"
First of all, this is an amazing project! I've just used it with my smartphone.

Second of all, I suggest you to show user-friendly ETA text.
I've searched in the docs of both webtorrent and webrtc for any ETA text output, but didn't find anything, so it seems like it should be calculated on the fly.

[2016-09-26 18:40] phr34k0 opened #124 "Instant.io doesn't play"
Copied tons of magnets and tons of seeds from 1337x.to and it doesn't play. Just stuck.

![image](https://cloud.githubusercontent.com/assets/13272249/18847149/b4c42512-845b-11e6-8c32-eb96529af1a8.png)

[2016-09-26 22:40] uriva commented on #124
+1 it seems the default trackers stopped working

[2016-09-26 22:43] shadym commented on #116
Is it legal? (A lot of people associate torrents with piracy)

[2016-09-27 02:22] Eibriel opened #125 "Unable to connect"
Apparently https://Instant.io is not working, I get the error Problem loading page "Firefox can't establish a connection to the server at instant.io."

Bests!

[2016-09-28 05:16] Eibriel commented on #125
Is working now!

[2016-09-28 05:16] #125 closed

[2016-09-28 06:13] burtonsamograd opened #126 "Internal Server Error"
I'm not seeing a ./lib directory from my clone:

NODE_ENV=production npm start
Error: Cannot find module './lib/mediaType'
    at Function.Module._resolveFilename (module.js:455:15)
    at Function.Module._load (module.js:403:25)
    at Module.require (module.js:483:17)
    at require (internal/module.js:20:19)
    at loadModule (/root/instant.io/node_modules/negotiator/index.js:114:16)
    at Neg

[2016-09-28 06:38] feross commented on #126
The error starts at `Error: Failed to lookup view "error" in views directory "/root/instant.io/server/views"`

Do you have a file named `error.pug` inside the `/root/instant.io/server/views` folder?

[2016-09-28 15:19] burtonsamograd commented on #126
Yes, I do.

    extends layout
    block body
      h1 Error
      h2= message

[2016-09-29 18:56] feross commented on #124
Do not use WebTorrent for copyright infringement. We cannot assist you.

[2016-09-29 18:56] #124 closed

[2016-09-29 18:57] feross commented on #125
Yep -- sorry about this. We had a bit of downtime the other day.

[2016-09-29 19:03] feross commented on #126
I can't think of any reason you would get this error. Your git clone or npm install probably got messed up somehow. Or there's a permission issue and the node process can't read the necessary files.

I would do a fresh clone, and a fresh npm install.

I don't think this is an issue with instant.io.

[2016-09-29 19:03] #126 closed

[2016-10-17 20:01] toXel commented on #122
I'd like to work on this!

[2016-10-18 11:38] feross commented on #122
@toXel Go for it! We show an estimated time on https://webtorrent.io. You can just re-use that code from here: https://github.com/feross/webtorrent-www/blob/4c0bc5282003a8c157104e0ca7e45f9c4dd7a39c/client/views/home.js#L111-L118

[2016-10-18 18:06] dessalines opened #127 "Support magnet link as a url parameter to instant.io, to start sharing"
I'd love to be able to provide `instant.io` with a url param, to automatically start sharing a given magnet link.

The magnet link would have to be url encoded, but that wouldn't be a problem for any sites wanting to implement.

So something like:

`https://instant.io?magnet=magnet%3A%3Fxt%3Durn%3Abtih%3A6a9759bffd5c0af65319979fb7832189f4f3c35d%26dn%3Dsintel.mp4`

And it would load up instant.io a

[2016-10-18 20:12] toXel commented on #122
Should I also use moment.js to get a humanized time? Or is something like `1m 34s` better?

[2016-10-18 20:28] toXel commented on #122
I did it with moment.js now. Looks like this:
![image](https://cloud.githubusercontent.com/assets/2300709/19495076/227faa40-9582-11e6-9f16-1f227301f25f.png)

If it's okay I would create a PR

[2016-10-19 10:29] toXel commented on #122
I've just checked how the ETA is displayed in WebTorrent Desktop. Maybe that would be a more appropriate way for instant.io than the one on the WebTorrent page?

It's here: https://github.com/feross/webtorrent-desktop/blob/master/src/renderer/pages/torrent-list-page.js#L185-L204

[2016-10-19 13:39] Edward-Stryfe commented on #127
This feature is already actually part of the application. Instead of using ?magnet= like how the default share feature has instant.io/#infoHash do the same thing with the magnet link in place of the information hash. I tested it out both encoded and un-encoded and both worked perfectly.

https://instant.io/#magnet%3A%3Fxt%3Durn%3Abtih%3A6a9759bffd5c0af65319979fb7832189f4f3c35d%26dn%3Dsintel.mp4

T

[2016-10-19 15:42] dessalines commented on #127
Ah sweet, thanks! It might be good to document this somewhere, either on the page itself, or on the github.

[2016-10-19 15:52] Edward-Stryfe commented on #127
I think it's heavily implied since the functions of information hashes and magnet links are most of the time conjoined, since the application I'm fairly certain uses a list of default WSS trackers as is there isn't a need for the whole magnet link which is why there's only a share link that features just a straight hash. I could be wrong but that seems to be the case, but there's another active is

[2016-10-20 18:18] dessalines commented on #127
An implied url hash? I had to ask to figure this out, it should definitely be documented.

[2016-10-21 11:53] Edward-Stryfe commented on #127
Well personally as soon as I saw that the share link was nothing but an information hash I used the magnet link in place of it and I'm sure other users did to. There isn't really any natural place to document it on any of the webtorrent pages or instant.io. You could instead post another issue asking to add a "Magnet Share Link" which would be easier than documenting it somewhere. But since WT as

[2016-11-18 05:44] hbakhtiyor opened #129 "what's the differ from snapdrop which base on webrtc?"

[2016-12-02 19:21] thadguidry opened #130 "unsupported file type ".zip": cannot append to DOM"
On Windows 10 64bit, I tried to copy paste the Apache NiFi zip file for latest version to instant.io
and received the error:

[code]

[2016-12-02 19:48] feross commented on #130
That's an expected message, since .zip files can't be rendered to the DOM. UX could be better, but instant.io is currently mostly used as a tech demo.

I plan to improve the UX one day so messages like this won't appear.

[2016-12-02 19:48] #130 closed

[2016-12-03 01:29] feross commented on #129
No idea.

[2016-12-03 01:29] #129 closed

[2016-12-03 01:38] #122 closed

[2016-12-17 06:29] ianlevesque opened #131 "ZIP files cannot be sent"
I get an error when sending a zip file.

[code]

[2016-12-18 09:17] feross commented on #131
This is not really an error. See https://github.com/feross/instant.io/issues/130

The zip file can still be sent. This message just means that zip files can't be previewed in the browser. We should improve the error message in this case

[2016-12-18 09:17] #131 closed

[2016-12-30 19:58] feross commented on #127
I'll add a short note to this repo's readme. Thanks for the issue and discussion 👍

[2016-12-30 20:30] #127 closed

[2017-01-02 05:41] beardog108 opened #132 "Filename XSS Payload"
Hi @feross, I love instant.io & WebTorrent.

Instant.io does not sanitize filenames within torrents, therefore a file named something like: `<img src=t onerror='alert('payload');' alt='XSS!'>.txt` could be used to deliver XSS.

Not a huge deal in the case of instant.io, but should still be fixed :sweat_smile:

[2017-01-02 22:11] feross commented on #132
Thanks for reporting this issue. Since there's no site cookie or login info that an attacker could steal, the damage is limited, but you're right that this should be fixed.

[2017-01-09 16:34] Quix0r opened #133 "Failed to start download from bittornado tracker"
I run a personal (all only free-libre software or data, e.g. FlightGear) tracker at http://mxchange.org:23456/ I have downloaded one torrent from there and tried it on instant.io, but no download starts.

I will retest the same torrent at home, normally it should start there.

[2017-01-11 09:55] feross commented on #133
@Quix0r There needs to be at least one seeder that can talk to "web peers" over WebRTC for your torrent to work on https://instant.io. There is more info about this in the FAQ: https://webtorrent.io/faq

[2017-01-11 09:55] #133 closed

[2017-01-11 10:47] Quix0r commented on #133
Okay, so the bittornado.many needs to support WebRTC.

[2017-01-11 23:04] feross commented on #133
You don't need to get any specific tracker to support WebRTC. You just need to ensure that a WebTorrent compatible client like [WebTorrent Desktop](https://webtorrent.io/desktop/) is seeding the torrent.

[2017-01-14 05:01] sairam opened #134 "website ssl certificate expired"
website ssl certificate expired on 14th Jan.

[2017-01-14 05:44] feross commented on #134
Yep, working on it!

[2017-01-14 10:52] feross commented on #134
Alright, this is working now with a fresh certificate from Let's Encrypt!

[2017-01-14 10:52] #134 closed

[2017-01-30 04:54] alethiophile opened #135 "Ability to set torrent file name"
As it stands, if you select multiple files the resultant torrent is just named after the first one. It would be nice to be able to set the name in this case.

[2017-01-30 14:29] Robien commented on #81
I experience the same issue with my app using webtorrent and instant.io

If it's the WebRTC handshake, then why it is super-fast at webtorrent.io? Are there some voodoo magic?
I have seen that webtorrent.io is using the same way (twilio) to do the WebRTC handshake. Why one is fast and the other is slow ?

If it's magic, I want some.

[2017-01-31 00:16] feross commented on #135
If you want to create your own torrent and set all the options, I suggest using [`create-torrent`](https://github.com/feross/create-torrent), which has a command line program will let you set the name. Unfortunately, I don't think we want to complicate the instant.io UI with a name form.

[2017-01-31 00:16] #135 closed

[2017-01-31 00:33] feross commented on #81
WebTorrent uses a web seed, and it uses a torrent file (which already contains the metadata) instead of a magnet link. That speeds up the startup time.

[2017-02-02 05:29] DiegoRBaquero opened #137 "Mirrors are down"
Both mirrors are down.

[2017-02-02 22:38] feross commented on #137
Hey, @rom1504 @ghost, looks like your Instant.io mirrors are down. Want to take a look?

[2017-02-05 15:21] desci commented on #137
I have another mirror that I am setting up, but the part of configuring WebRTC is not documented, so I'm actually starting to figure out what a WebRTC is. If someone could give me pointers, I'd do it faster.

This is my instance's log:

[2017-02-05 17:24] rom1504 commented on #137
I got my mirror up again, but I'm getting errors now.
`WebSocket connection to 'wss://tracker.webtorrent.io/' failed: Error in connection establishment: net::ERR_NAME_NOT_RESOLVED`

[2017-02-05 18:45] DiegoRBaquero commented on #137
@desci It's because it's trying to obtain the rtcConfig hosted in instant.io but it doesn't have permission.

@rom1504 webtorrent tracker has been down for some months now.

[2017-02-06 12:46] rom1504 commented on #137
@DiegoRBaquero How can instant.io work without the webtorrent tracker ?

[2017-02-06 12:54] DiegoRBaquero commented on #137
With BTorrent, FastCast and OpenWebTorrent trackers.

[2017-02-08 04:49] feross commented on #137
@desci That warning can be safely ignored. If you want to eliminate it, sign up for a Twilio account and set up Network Traversal, i.e. TURN https://www.twilio.com/stun-turn and paste your credentials into a file called `secret/index.js`. You can see a sample of what it should look like here: https://github.com/feross/instant.io/blob/master/secret/index-sample.js

A TURN server will be used if a d

[2017-02-08 04:49] #137 closed

[2017-02-21 09:58] Quix0r commented on #133
Well, still not working, even with a "port-less" URL:

1. Download https://tracker.mxchange.org/file?info_hash=%BC%0A%85Bv%E7%10%CF%10_%01%12%3F%A7U%E5%A9b%CF%A3
2. Open https://instant.io/
3. Choose the just downloaded torrent. There is one peer listening on default ports (51413 to 51415)

[2017-02-21 10:00] Quix0r commented on #133
Also this is not working, but should work:
https://instant.io/#magnet%3A%3Fxt%3Durn%3Abtih%3Abc0a854276e710cf105f01123fa755e5a962cfa3%26dn%3Dfgdata_new-update-001.bundle%26tr%3Dhttps%253A%252F%252Ftracker.mxchange.org%252Fannounce

[2017-03-02 18:12] PramUkesh opened #139 "thanks for the work"
i dont know where i have to start talking because you are the mirror programmer to me
i always play with torrents upto now i downloaded a 5000 torrent files till now each have 1 GB file space
when downloading those files i always want to as software developer as beginer want to integrate the browser what ever it may android browser and the site in a single program but i dont try that means then i

[2017-03-07 21:02] feross commented on #139
Hi @PramUkesh, thanks for your kind words. If you get a chance to contribute, that would be great. Cheers!

[2017-03-07 21:02] #139 closed

[2017-03-13 19:19] feross opened #140 "Rending markdown files seems broken"
Twitter report: https://twitter.com/laux_es/status/840611244381986818

[2017-03-23 00:01] dominictarr commented on #15
hey, just saw this -  I have a module that would be suitable,
https://github.com/dominictarr/pull-box-stream

but ideally, we might want to modify that a little bit, so that encrypted blocks are a) aligned to bit torrent blocks, and seekable. currently pull-box-stream can just encrypts streaming blocks, but makes them whatever length the source provides the buffers as. That means you could still s

[2017-03-23 00:21] feross commented on #15
@dominictarr I don't have time at the moment for this, but thanks for sharing the link to `pull-box-stream`. I didn't know that there was a way to run libsodium in the browser via `chloride`, so that's good to know!

[2017-03-23 00:26] dominictarr commented on #15
cool, I think the question is just: is there a way to predict the blocks that will be requested? if yes, then this is easy.

[2017-03-23 00:26] dominictarr commented on #15
the block boundries, i mean

[2017-03-23 00:29] dominictarr commented on #26
has this regressed? I have a video (that won't play in the browser) but dont see a download button (except download torrent)

[2017-03-23 00:46] dominictarr commented on #26
oh nevermind I see you can right click on it and save the video, once it has fully loaded.

[2017-03-23 18:23] feross commented on #26
@dominictarr Yeah, we gotta have all the data before we can create the Blob object, which is what the link points to.

[2017-03-25 21:38] rugk commented on #132
Any news? When running instant.io on a domain with other web applications installed, this could have a more serious impact, so please fix it.

[2017-03-26 02:58] feross commented on #132
I haven't had time to work on this, but if you want to send a PR that solves the issue, I'm happy to merge it.

[2017-04-05 05:05] wmhilton opened #141 "feature: "Download with WebTorrent" badge"
Take the power of WebTorrent, wrap it in a sexy looking button so all the cool kids want to add it to their README files, and take over the world...

![image](https://cloud.githubusercontent.com/assets/587740/24690591/d5fbec12-199b-11e7-8bdd-caf6e13a8609.png)

[2017-04-05 17:45] feross commented on #141
I think this idea is cool, but I don't have the time to build it myself :)

[2017-04-05 19:04] wmhilton commented on #141
I'm working on it...

[2017-04-06 05:01] wmhilton commented on #141
Funny. That took a good bit longer to make than I expected...

https://wmhilton.com/download-with-webtorrent-button/

If you like it, I will polish the edges and document how to use it. But the gist is:
[code]

[2017-04-07 00:36] feross commented on #141
Super cool!

[2017-04-07 05:30] wmhilton commented on #141
Random aside: PhantomJS doesn't support linear gradients whereas Electron does. So while `pageres` let me down, `nightmare` and `gifencoder` worked great for scripting this graphic:

![animated gif of button](https://github.com/wmhilton/download-with-webtorrent-button/raw/master/dist/animated.gif?raw=true)

[2017-04-07 05:40] wmhilton commented on #141
There two things I want to try to do before I make a big noise about this. 1) I still need to put it on npm. The documentation is a lie. :) and 2) I want to see about automating the .torrent file creation. I don't think I can completely decentralize it but I ought to be able to make it an API call, and then people could use that service in the backend of their dynamic sites or in their static site

[2017-04-08 01:40] feross commented on #141
@wmhilton It would be awesome if you got rid of the need for the `<style>` tag and the the WebTorrent `<script>` tag. That functionality could be included inside `script.js`. Then you could just do:

[code]

There's also no need for the `"webtorrent-download"` class, since you can actually use the presence of a `data-torrent` attribute as a selector in CSS.

This is actually really elegant!

[2017-04-08 01:46] feross commented on #141
Btw, I just found this site: http://www.extratown.com/webtorrent No idea if it works well or not

[2017-04-08 16:05] wmhilton commented on #141
I've thought about that. I really like the appeal of "just add a single line of code to your site and it Just Works TM". The potential downsides are the FOUC and tying it to a bundled version of WebTorrent instead of getting the latest and greatest version. I *suppose* I could get around that second one by loading WebTorrent dynamically...

    // pseudo jQuery
    $.getScript('https://unpkg.com/w

[2017-04-08 16:13] wmhilton commented on #141
I made it even better (I think). You can now do:

    <a href="https://example.com/foobar.tar.gz" data-torrent="auto">Link</a>

And it will replace your data-torrent value like so:

    data-torrent="https://webtorrentify.now.sh?href=https://example.com/foobar.tar.gz">Link</a>

which auto-generates a .torrent file on the fly. It is probably not a first - there's plenty of prior art, notably BurnBi

[2017-04-14 03:45] feross commented on #141
@wmhilton Very nice work! Let me know when you have a landing page for this, or even a GitHub readme and we can add it to the list of projects that use WebTorrent and I'll tweet it from the @WebTorrentApp Twitter account!!

[2017-04-14 04:27] wmhilton commented on #141
I'm trying to get it working for downloading nodejs... I thought I nearly had it working this evening using https://github.com/wmhilton/cors-buster But then apparently the Range headers weren't making it through... not sure if error lies in `node-fetch` or between chair and keyboard. I'll have to give it another shot this weekend.

If I wasn't so set on a General Solution, I'd have just mirrored a

[2017-04-14 05:03] feross commented on #141
@wmhilton Remember that if you set Range headers, an OPTIONS request will be sent before any GET requests. Just a thought... you might want to confirm that it's getting sent.

[2017-04-14 22:50] wmhilton commented on #141
I wasn't forwarding enough headers. :) It works now.

See if the button works for you. Open the button page in Chrome and in Firefox, start one download first, and then when you start the other download you should see it go much faster because its transferring browser-to-browser. Or at least that's how I've been testing it.

https://wmhilton.com/download-with-webtorrent-button/

I have everything

[2017-04-22 01:29] feross commented on #141
Will tweet it out from the WebTorrentApp account again 👍

[2017-04-24 13:04] wmhilton commented on #141
Hang on, I just had an epiphany. (But simultaneously am confused why I started this thread in instant.io instead of webtorrent.io)

[2017-04-25 00:23] scheng123 opened #143 "fails to load unsafe scripts in chrome"
It doesn't load "HTTP" torrents, it just says that it is downloading at 0kbs, infinity years, Any help will be appreciated

[2017-04-25 22:02] feross commented on #143
Unfortunately, an HTTPS site can't make requests to an HTTP site. The browser prevents those requests since it would violate user expectations. You can workaround this by downloading the .torrent file and drag-dropping it onto the page!

[2017-04-25 22:02] #143 closed

[2017-04-26 11:26] scheng123 commented on #143
That is what I did

[2017-04-26 11:26] scheng123 commented on #143
ANd it still says load unsafe scripts

[2017-04-26 21:47] feross commented on #143
Can you take a look at the Network Tab of Developer Tools and see if you can find out what URL it is trying to request?

[2017-05-22 08:04] milankragujevic opened #144 "broken JS delivery on instant.io"
GET https://instant.io/bundle.js net::ERR_INCOMPLETE_CHUNKED_ENCODING

[2017-05-27 20:05] #141 closed

[2017-05-30 05:00] FlaggedBrad commented on #144
I am getting the same error. Also, it seems like the bundle.js file has an infinite loading time when trying to open the [direct link](https://instant.io/bundle.js) in my browser.
![image](https://cloud.githubusercontent.com/assets/18545011/26568676/210782c2-44ba-11e7-8354-f8ae74cfe8ba.png)
![image](https://cloud.githubusercontent.com/assets/18545011/26568683/3119a4e2-44ba-11e7-8277-816d05ac1194.p

[2017-05-31 21:58] feross commented on #144
Thanks for posting this issue. It's resolved now. The webtorrent.io server had run out of disk space. I only had log rotation set up for the node.js server logs. I'm setting it up for the nginx logs as well now. Cheers!

[2017-05-31 21:58] #144 closed

[2017-06-05 13:16] desci commented on #116
I had to include [instructions](https://github.com/piratas/instant.io/commit/f8b333993d2b5da562f83624f8a1c7b6c2c53fd9) on https://torrent.partidopirata.org because the intended public need very specific directions.

I've put up an instance of [BTorrent](https://github.com/DiegoRBaquero/BTorrent) on https://btorrent.partidopirata.org and people just started adding magnet links from regular torrent

[2017-06-13 23:53] willwhitney opened #145 "iOS 11 support"
Now that iOS 11 supports WebRTC it should be possible to play videos on instant.io, and indeed the demo on https://webtorrent.io works on an updated iPad.

However on instant.io, the page says it’s downloading but never shows the video. Bandwidth usage is high for a couple of minutes but then drops to zero.

[2017-06-16 14:24] nodiscc opened #147 "instant.io does not work behind a ReverseProxy in a subdirectory [apache]"
Hello, I host instant.io behind an apache reverse proxy.

The configuration is the following:

[code]

The page loads but without any styling or working javascript. The browser console returns:

[code]

How can I get instant.io to run in such a configuration?

I don't have a separate subdomain available to host instant.io. All my web services must live on the same domain.

Would it be possible to

[2017-06-21 00:09] feross commented on #147
I think you might need to make the links to `main.css`, `bundle.js`, etc. into relative links if you're serving from a folder.

[2017-06-21 00:09] #147 closed

[2017-06-21 21:55] feross commented on #145
Worked for me once or twice in desktop Safari but it seems inconsistent. Sometimes it doesn't connect to any peers. It's not clear if this is because they're still ironing out bugs in the implementation. Let's keep an eye on it and take another look once the new Safari is actually released.

[2017-06-21 21:55] #145 closed

[2017-07-21 20:01] Simplici opened #149 "page crash on big file"
once I choose a big file 3.7GB, the page crashed.

![screen shot 2017-07-21 at 10 00 02 pm](https://user-images.githubusercontent.com/8101111/28480256-163f7294-6e60-11e7-9e15-c611c23b08d2.png)

[2017-08-10 18:05] pmosse opened #150 "Can't download file being seeded"
Hello,
I tried sharing a file through the drag&drop and the log looks like this:
Peers: 0 Progress: 100.0% Download speed: 0 B/s Upload speed: 0 B/s ETA: Done.
Then I tried downloading the file by using the magnet URI but it never starts the download (I am using Transmision in Ubuntu 16). It says "Downloading" and almost every tracker finds 1 peer but it remains like that.
Thanks!
Patricio

[2017-08-24 14:26] konradr25 opened #151 "Can't download file with web seeds"
I try to download torrent with web seed, but I cannot. It doesn't connect with the web server.
Here is the magnet:
`magnet:?xt=urn:btih:83291E6B8673F789710C123941E2F1C44E335323&dn=debian-9.1.0-amd64-xfce-CD-1.iso&tr=udp%3a%2f%2ftracker.openbittorrent.com%3a80%2fannounce&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337%2fannounce&ws=https%3a%2f%2fsaimei.ftp.acc.umu.se%2fdebian-cd%2fcurrent%2famd64%2fis

[2017-09-12 09:46] m-brian commented on #145
@feross Apple is about to release iOS 11. What's your take on this issue now?

[2017-09-17 12:53] Ciao121 opened #152 "How are twilio credential hidden on instant.io"
I saw I need to input twilio credentials in the /secret/index.js file, but this make those credentials publicly exposed. On instant.io those are not in this file (the file is missing).
So I'm trying to figure out how credentials are protected on instant.io.

Thank you!!!

[2017-09-17 12:59] Ciao121 commented on #152
Sorry... probably a stupid question... just put the script outside webroot.

[2017-09-17 12:59] #152 closed

[2017-09-23 10:28] Ciao121 commented on #149
It happens to me also if I try to seed more smaller files. I think the total size is the issue

[2017-09-29 02:18] greenkeeper[bot] opened #153 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-29 13:58] #153 closed

[2017-10-03 04:46] qqdaiyu55 opened #155 "customize tracker setting"
I want to deploy instant.io with my own tracker instead of the default tracker lists. Where to modify the tracker setting? Thanks!

[2017-10-04 12:07] #155 closed

[2017-10-19 02:35] willwhitney commented on #145
Ping! Everything is publicly released and the first bugs patched. Any interest in making moves here?

[2017-10-30 07:10] imprecation commented on #149
I think max file size is 2GB:
https://github.com/webtorrent/instant.io/blob/master/client/index.js#L216

[2017-10-30 07:31] imprecation commented on #34
If no peers are found it will just cycle through what is in the announceList with
no identifier, which clutters the log.  Should I add a counter?

[2017-10-30 07:42] imprecation commented on #40
Is this affected by a redesign?
https://github.com/webtorrent/instant.io/issues/17

Or is this just a change in the logging?

[2017-11-06 21:42] dessalines opened #157 "Instant.io down?"
I can't seem to download any torrents with instant.io, what's wrong?

[2017-11-15 05:40] NikolaBorislavovHristov commented on #157
mew too

[2017-11-22 23:34] hyperfekt commented on #26
On Firefox Nightly 59.0a1, the option to save the fully downloaded video is disabled in the context menu. The link to download beneath the video is available for the initial uploader, but not for anyone visiting the link and getting it from peers.

[2017-12-12 05:36] guptap504 opened #161 "Second mirror redirects to porn"
The second mirror `https://instant-io.herokuapp.com/` redirects to a porn website.

[2017-12-15 06:55] Fumesover commented on #157
Nope it's working, but only with WebTorrent torrents, you can't download "classicals" torrents with it

[2017-12-15 06:56] Fumesover commented on #161
Solved by PR

[2017-12-28 18:01] nixxquality opened #162 "Add button to download all files in torrent as zip"
https://stuk.github.io/jszip/ should be key here

[2018-01-09 00:50] #157 closed

[2018-02-07 10:31] Zibri commented on #93
why is I go to instant.io I read this in the console?

WebSocket connection to 'wss://tracker.fastcast.nz/' failed: Error in connection establishment: net::ERR_BLOCKED_BY_CLIENT
WrappedWebSocket @ VM46:164
VM46:164 WebSocket connection to 'wss://tracker.openwebtorrent.com/' failed: Error in connection establishment: net::ERR_BLOCKED_BY_CLIENT
WrappedWebSocket @ VM46:164
VM46:164 WebSocket connecti

[2018-02-16 18:39] si458 commented on #145
Any update on if it works with iOS 11?

[2018-02-16 19:21] Ciao121 opened #166 "Downloading from seed ok but error if using hash"
Downloading using https://webtorrent.io/torrents/sintel.torrent in thetorrent is working.
But trying the correnpondant infoHash (08ada5a7a6183aae1e09d831df6748d566095a10) seems not to work.

[2018-02-16 20:52] feross commented on #166
When downloading using the .torrent file, you'll have a web seed which lets the browser download the file over HTTP. So it could be that you're unable to connect to any peers for some reason and the fallback to HTTP is why it works with the .torrent file.

One other thing to try is disabling your ad blocker, which may block the tracker servers that WebTorrent uses to find peers. Ad blockers think

[2018-02-16 20:52] #166 closed

[2018-02-16 22:16] feross commented on #145
The underlying simple-peer library was just updated to support iOS 11 and Safari 11, so https://instant.io will get the fix when I publish a new version later today.

[2018-02-16 22:17] feross commented on #93
@Zibri That can happen if your ad blocker is blocking connections to the WebTorrent trackers. Try disabling your ad blocker. Also see: https://github.com/webtorrent/webtorrent/issues/1292

[2018-02-17 20:03] #161 closed

[2018-02-17 21:28] feross commented on #145
Just deployed and confirmed that it works.

https://instant.io

[2018-02-21 10:22] Ciao121 commented on #145
I'm not sure is relatad to this isssue (if not I'm sorry).
I'm getting this on instant.io using Safari 11.

![safari](https://user-images.githubusercontent.com/14965015/36474855-bf437a3c-16f0-11e8-93d2-38fdc244c406.jpg)

But as soon as the FULL video is downloaded it is possible to play it.

[2018-02-21 18:03] feross commented on #145
@Ciao121 This is due to https://github.com/jhiesey/videostream/issues/24

[2018-04-13 13:09] Nashorn opened #167 "Seed even when tabs are closed"
When the original seeder closes the tab and say 2 other seeders close their PC seeding stops.  If I wanted the file to seed contiously, what would be a good high level architecture?

If I run my own instant. Io copy on server, will it so it

[2018-04-18 21:14] feross commented on #167
If you want to always ensure that a file is available, take a look at Web Seeds. They're basically an HTTP server URL that will be used when there are few/no peers available.

[2018-04-18 21:14] #167 closed

[2018-04-19 00:06] Nashorn commented on #167
Thanks Feros, i'll check into it and get back to this thread. Please don't close it yet.

[2018-04-22 12:09] Nashorn commented on #167
OK, i could not for the life of me find a simple example of how to implement webseeds with webtorrent, this is currently a stumbling block on an app i am designing.

But i did find this and would like to know if this is out-of-date, if there is a better example pleaseee send

WEB SEEDING :
https://hackernoon.com/how-to-create-a-swarm-cdn-for-free-with-webtorrent-bfa09d193f71

[2018-04-25 18:53] feross commented on #167
You can create a torrent with the `create-torrent` command line program.

[code]

You can get info about all the other arguments with `create-torrent --help`, but the one you need is `--urlList` if you want to include a web seed in a torrent file. For magnet links, you add the `ws` url parameter, so add `&ws=http://example.com/torrent-path` to the end of the magnet link.

The URL that you point to

[2018-04-25 22:17] Nashorn commented on #167
I installed and ran the cmd given, the cmd console shows what appears to be a magnet uri, but the .torrent file created is blank.

create-torrent --urlList 'http://localhost:3000/resources/video/timedrift-alpine-4k-timelapse.mp4' "timedrift.torrent"
d8:announce40:udp://tracker.leechers-paradise.org:696913:announce-listll40:udp://tracker.leechers-paradise.org:6969el34:udp://tracker.coppersurfer.tk:

[2018-04-25 22:18] Nashorn commented on #167
how hard would it be to modify the .seed() method to allow url's as well?

[2018-04-26 00:49] feross commented on #150
From the [FAQ](https://webtorrent.io/faq):

It does work! But you can't just use any random magnet uri or .torrent file. The torrent must be seeded by a WebRTC-capable client, i.e. WebTorrent Desktop, Vuze, webtorrent-hybrid, Playback, instant.io, or βTorrent.

[2018-04-26 00:49] #150 closed

[2018-04-26 01:52] feross commented on #167
When you run `create-torrent`, you need to specify an output file with the `-o` option or else the torrent file contents will appear on your Terminal.

You need something like this:

[code]

[2018-04-26 01:53] feross commented on #167
`client.seed()` already supports `urlList` option and any options that [`create-torrent`](https://github.com/webtorrent/create-torrent) supports.

[2018-04-26 03:56] feross commented on #151
This error message "No 'Access-Control-Allow-Origin' header is present on the requested resource" means that the servers hosting the Debian download do not have the correct HTTP headers set on their HTTP responses to allow other domains like instant.io to access the file contents.

[2018-04-26 03:56] #151 closed

[2018-04-26 13:09] Nashorn commented on #167
Duh

[2018-05-03 19:38] feross commented on #149
This crash was due to a Chrome bug that is now fixed.

There's no max file size, though you need to have enough RAM to fit the file in memory (at the moment).

@imprecation The line you linked to is actually a size limit above which we won't attempt to use the Blob strategy in [`render-media`](https://github.com/feross/render-media). In other words, if the file doesn't support streaming and is big

[2018-05-03 19:38] #149 closed

[2018-05-15 17:08] aswinmohanme opened #172 "Generate temporary short link for easier sharing"
I use this mainly for sharing files from my desktop to my mobile. The info hash is super long to type out, and currently I use firefox to send the data url to the phone.

I'm not aware of an easier way. Hence it would be pretty neat if temporary short links could be generated.

[2018-05-16 09:09] feross commented on #172
I think this is a cool idea, but at the moment https://instant.io is a purely client-side application. Since it's meant to be a simple demo of WebTorrent usage, I think we should keep it simple for now. To implement short links, we'd need to add a DB to the backend.

At some point, I think we should put the current version of instant.io on demo.webtorrent.io and then expand the scope of instant.io

[2018-05-16 09:09] #172 closed

[2018-05-16 13:04] aswinmohanme commented on #172
Maybe use the first few characters of the hash as the shortlink. It that possible ?

[2018-06-01 07:18] k0a1a commented on #145
hi, what's the right way of implementing this with webtorrent browser client? tnx

[2018-06-11 10:03] dydx opened #173 "[Enhancement] Docker + Docker Compose support"
Working on "Dockerizing" this along with a Docker Compose configuration

I have a small roadmap to be eventually happy with this

- [x ] Base `Dockerfile` file
- [x ] Base `docker-compose.yml` file
- [ ] Migrate configuration items in `secret/index.js` to also reference environment variables
- [ ] Polish up `Dockerfile`
- [ ] Polish up `docker-compose.yml`

[2018-06-15 16:35] aswinmohanme commented on #94
@feross can you look into this ?

[2018-06-24 23:21] sg-s commented on #119
what do you want copied?

[2018-06-25 07:50] rugk commented on #119
the URL, of course

[2018-06-25 11:10] sg-s commented on #119
isn't that something you paste in? so you already have it on your clipboard...

[2018-06-25 13:51] rugk commented on #119
Well…

1. A starts streaming.
2. A needs to get URL and copy it in some chat system to B.
3. B clicks link/copies it into the site.

So actually, the copy feature is needed for A. I doubt many people will share the URL by writing them off the screen, rather than using a chat service/instant messenger or similar.

[2018-06-25 14:19] sg-s commented on #119
i see, that makes sense

meanwhile, you can also just copy the url -- and paste that directly into webtorrent desktop, and that works well

[2018-06-25 16:20] styfle commented on #119
Alternative: https://copee.ceriously.com

[2018-06-25 17:07] rugk commented on #119
Actually, AFAIK, it is a small js api anyway, so third party scripts are not really needed.

[2018-07-04 00:11] joshterrill commented on #94
I apologize for letting this just stay open like this. I've been pretty swamped at work. If the suggestion @rugk has looks good to everyone I can implement it over the 4th of July break this week. @feross since that is a different library and the other pull request is pretty old, should we close the other one out and start a new one? Or should I pull the existing one down and edit it?

[2018-07-04 00:42] joshterrill commented on #94
@feross I just finished writing the code... not sure how you want me to go about pushing it though. Should I pull down my other PR and modify that? Or use a new one since I'm using a different library than before?

[2018-07-04 01:03] joshterrill commented on #94
There were enough differences in the existing code base and what was in that old PR that I figured I could just create a new PR. If this isn't what you want to do, just let me know. I've created https://github.com/webtorrent/instant.io/pull/176 using the library @rugk suggested.

[2018-07-10 10:39] sagar1garg opened #177 "lower file % downloaded to start playing file"
@feross
I noticed that the file wont start streaming until 5% of the file is downloaded. How can I start file streaming (playing) earlier than this say when 1 or 2% is downloaded?

[2018-07-10 17:13] sagar1garg opened #178 "Adding search?"
@feross @joshterrill

How can I add search in instant.io?? I mean how does search work here? Can I search with file name?

[2018-07-10 18:47] joshterrill commented on #178
instant.io does not let you search for torrents, if that's what you're asking.

[2018-07-21 10:30] whiver opened #179 "Subtitles support"
Hi team,
It would be really nice to have subtitle support, either providing a .srt/.vtt file or automatically downloading the associated subtitle if found.

Thanks!

[2018-07-22 11:14] didlie opened #180 "Code and website"
I'm testing to implement webtorrent functionality to a script.

Problem is: when I look at the instant.io code and try to implement the public functions in the [client] folder, they don't exist.

The minified version is too much to look at.

I'm trying to dynamically create a data file in the browser and add that file as a torrent, so it can be picked up by a peer using the instant.io link or a ma

[2018-07-22 14:14] didlie commented on #180
var uploadee = (text,n,type) => {
    var file = new Blob([text], {type: type, name: n});
    file.href = URL.createObjectURL(file);
    file.name = n;
    file.download = n;
console.log(file);
    return file;
}

var fileee = uploadee('file text', 'myfilename.txt', 'text/plain');

//var doit = function(){ document.getElementsByName('upload')[0].value = file.download; };

var files = [fileee];

va

[2018-07-22 14:14] #180 closed

[2018-10-05 13:58] zero77 opened #184 "[Security Request] Jackett Search Support"
At the moment you have to go and find all torrent or magnet links manually, to improve this, can you also add support for searching and adding torrents or magnets with Jackett.

“Jackett works as a proxy server: it translates queries from apps (Sonarr, Radarr, SickRage, CouchPotato, Mylar, DuckieTV, etc) into tracker-site-specific http queries, parses the html response, then sends results back to

[2018-10-30 01:33] dmeff opened #185 "I can't get your bloody website to stop opening magnet links"
Even after making my torrent client bind magnet links again.

How do I fix this?

[2018-11-03 10:04] lil5 opened #186 "Request npm package"
It would be great to install on a server like [filepizza](https://www.npmjs.com/package/filepizza#installation) can:

[code]

[2018-11-05 11:33] greenkeeper[bot] opened #187 "An in-range update of nodemon is breaking the build 🚨"
## The devDependency [nodemon](https://github.com/remy/nodemon) was updated from `1.18.5` to `1.18.6`.

🚨 [View failing branch](https://github.com/webtorrent/instant.io/compare/master...webtorrent:greenkeeper%2Fnodemon-1.18.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nodemon is a devDependency of this project. It *

[2018-11-23 05:46] piyushchauhan commented on #178
Can we make this app to keep track of all the torrents on a server and produce search results. I will be a very good enhancement I think. If this has been discussed in some issue, forgive me.

[2018-11-28 14:52] ganezdragon commented on #17
This seems to be still open. I can work on the re-design in my spare time. I could do it in reactjs. @feross does that sound okay? If so, I could do it, and raise a pull request.

[2018-11-28 15:07] ganezdragon opened #188 "Add a note saying that this will only work with peers using instant.io ?"
Could we add a note somewhere in the site, saying something like,

or, if this sounds geeky, can someone think of something user friendly to say? We definitely want this information to be conveyed to the user, since from personal experience, I was puzzled the first time when I was using the site and found that there were no peers when redacted clearly told me that there were.

[2018-11-28 15:17] davidak commented on #17
@ganezdragon have you considered [Vue](https://vuejs.org/)? It seems already more popular than React (at least from GitHub stars and many blog posts).

[2018-11-28 16:15] jimmywarting commented on #188
It don't have to be peers that are using instant.io. Peers can come from other places too like webtorrent-desktop and other websites that also uses webtorrent

Some torrent clients are implementing webrtc also so they too can connect to browser peers and vise versa

Then it's also about discovery. A normal http tracker that tpb uses are not able to work in browsers, therefore a websocket tracker (

[2018-11-28 18:20] ganezdragon commented on #188
@jimmywarting , do you mean instant.io can also use other usual torrent clients (like bittorrent) ? I know it could use clients with webrtc, or I atleast thought it only supports webrtc clients.

[2018-11-28 20:48] jimmywarting commented on #188
Yes

no, i don't think they have implemented webrtc. here is a list of some torrent clients and some progress https://github.com/webtorrent/webtorrent/issues/369

A more correct note would be

websocket is necessary since there is no DHT avalible in webtorrent's rtc protocol (at least yet), but it's also necessary for sdp offer/answer signaling to match two peer with eachother. it's not as simple

[2018-12-03 13:19] ganezdragon commented on #188
It would be better if we add this Note in a more end-user understandable form. 😄 @jimmywarting, others, Can we add this to the site?

[2018-12-04 15:16] alex2844 commented on #118
![screenshot 2018-12-04 at 20 15 06](https://user-images.githubusercontent.com/18526177/49451670-84b65e00-f801-11e8-90f1-d4fb4583754f.png)

[2018-12-04 16:56] chisNaN commented on #118
Lol same for me just now i am using `webtorrent@latest`

[2018-12-09 18:32] ganezdragon commented on #185
@dmeff , its the settings with your browser. For example, in firefox, we could change the behavior for magnetic links under Preferences,
<img width="984" alt="image" src="https://user-images.githubusercontent.com/10774943/49701145-8cfe0700-fc0e-11e8-8be7-e2b1fa083d4c.png">

[2018-12-10 04:19] alex2844 opened #189 "File length too large for Blob URL approach"
![](https://user-images.githubusercontent.com/18526177/49451670-84b65e00-f801-11e8-90f1-d4fb4583754f.png)

Is limit set in webtorrent, or in a browser?

[2018-12-12 09:22] ofirkris commented on #118
Same issue here

[2018-12-29 17:39] Macmee opened #190 "on iPad (ios 12) I hit download and nothing happens"
the console is also empty

[2019-01-19 02:53] gslsqs commented on #185
try this.
chrome : settings/Advanced settings/Privacy and security: Content settings/Handlers

[2019-01-19 02:54] gslsqs commented on #185
try this:
 chrome : settings/Advanced settings/Privacy and security: Content settings/Handlers

@dmeff

[2019-02-22 07:12] lyricsbd opened #191 "Which Torrent site work this ?"
I tried many torrent site link & magnet link but not work.It just work demo magnet file why?
any solution??????

[2019-02-28 03:43] dsernst commented on #149
I'm still seeing this issue for a file that's 3.97 GB. Page crash exactly as shown in the OP's screenshot. Reproducible 100% of the time.

Using a file that's 1.05 GB instead, it works every time.

On the latest version of Chrome Stable (OS X), Version 72.0.3626.119 (Official Build) (64-bit).
8 gb of RAM.

Both of the files are `.flv`, generated by the same screen recording program with the same s

[2019-03-03 19:07] ivan386 commented on #191
WebTorrent client connect to other WebTorrent clients that use WebRTC as trasport protocol. It can't connect to Bittorrent clients. But it can download data via http(s) if torrent or magnet contain webseed address.

[2019-03-24 16:41] JeremyBenson11 opened #192 "Issue Uploading"
I'm trying to upload a 125mb video on instant.io. I had success a day ago with a similar video. Both mp4s. This time the video shows up on the page, but when I click play I see error rending file undefined. Also it showed as uploaded fairly soon with no progress bar. This time I didn't see any movement in Upload speed: 0 B/s during what I thought was the seeding process the first time. The first w

[2019-03-24 18:53] JeremyBenson11 commented on #191
instant.io is one of the current promoted ways of uploading files.

[2019-04-14 02:29] hugetiny opened #193 "How can instant.io handle all the magnet links in my Chrome?"
Amazing.
Whenever I click a magnet link, Chrome always opens a tab and automatically start downloading in instant.io, I don't remember I installed any chrome extensions for instant.io.

[2019-04-14 08:15] #193 closed

[2019-04-22 20:01] ChrisMichaelPerezSantiago opened #194 "how to play videos types mkv using nodejs?"
Hi,

I was creating an app using the npm thepiratebay that will help me get the magnetlinks to use them in webtorrent and play them in video.

The vast majority are in MKV video type.

My Doubt is:
How can I use this type of magnet in a video?

[2019-04-23 08:59] jimmywarting commented on #194
Do not post links or references to copyrighted content in your issues.

[2019-04-23 15:39] ChrisMichaelPerezSantiago commented on #194
regards,

Apologies, I'll be removing it.

[2019-04-24 12:10] ivex001 opened #195 "Instant.io keeps opening magnet link on chrome"
I can make this site to stop opening magnet links. I've search here someone with exact same problem but he doesn't remember how to stop this. Please need to remove this and use my default program for magnet links.

Thanks

[2019-05-05 00:22] Th3N3rdyGam3r commented on #195
I am having this exact same issue. I've tried editing the registry, changing preferences in windows, editing chrome configs, and more and can't get it to open in anything other than chrome. Even disabling the setting in chrome for magnet handling just make the links not work anymore.

[2019-05-05 00:50] Th3N3rdyGam3r commented on #195
@ivex001 I was just having this same issue, but was somehow able to fix it. I'll tell you some of the things I did that MAY have helped fix it. I'm not sure exactly what did it in the end.

- Going into chrome://settings/handlers and removing instant.io from the magnet handler
- Going to https://instant.io/ and when it asks me if I want to allow it to open mangnet link, hit BLOCK/DENY
- Going to e

[2019-05-06 00:13] ivex001 commented on #195
@Th3N3rdyGam3r , yes i managed to fix it. I did discover the hrome://settings/handlers but after that no magnet link was opening. Than finally i found the reg trick. Thanks anyway

[2019-05-06 02:31] #194 closed

[2019-05-22 10:35] theyada86 commented on #190
Works fine for me to use with latest IOS instant.io
tested a video file it worked fine to playback and save as zip to unload with a zip app

[2019-05-22 13:55] loskiq opened #196 "connection error"
why?
[code]

[2019-05-22 14:08] jimmywarting commented on #196
Maybe overloaded with traffic...
Would really love to see Web DHT some day. More reliable than a public tracker with limited resources.

[2019-07-03 18:28] PaTiToMaSteR opened #198 "Error: Cannot find module '../secret'"
Latest version of the repo, npm i and then npm start:

npm install
npm WARN acorn-dynamic-import@4.0.0 requires a peer of acorn@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN acorn-jsx@5.0.1 requires a peer of acorn@^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_mod

[2019-07-03 18:32] #198 closed

[2019-07-03 18:32] PaTiToMaSteR commented on #198
Sorry I jumped a step of the readme:
Copy secret/index-sample.js to secret/index.js and set the Twilio API key if you want a NAT traversal service (to help peers connect when behind a firewall).

To start the server, run npm start. That should be it!

[2019-07-18 14:08] htorbov opened #199 "Does it download the torrents locally?"
This is just amazing. I basically can use any magnet link and it streams it on my browser. But does the script download the files locally, or it's just in the browser? Thanks!

[2019-07-18 16:06] jimmywarting commented on #199
- It only download in to the browsers memory.
- Browser can't read/write to the filesystem.
- webtorrent (instant.io) could read/write to any of the browsers web storage, sandboxed filesystem, indexedDB or the new [kv storage](https://github.com/WICG/kv-storage) or any other [abstract chunk store](https://github.com/mafintosh/abstract-chunk-store) compatible storage but instant.io only use default

[2019-07-18 18:38] #199 closed

[2019-07-20 21:50] #187 closed

[2019-07-20 21:51] feross commented on #184
This is out of scope for this project. Thanks.

[2019-07-20 21:51] #184 closed

[2019-07-28 09:38] josephrocca commented on #196
Just a note to say that the errors are still occurring (in case it was thought to just be a temporary thing):

![image](https://user-images.githubusercontent.com/1167575/62004924-fbc4ac00-b16e-11e9-8116-03114e7b0b4d.png)

Seeing two types of errors:
 * 502 Bad Gateway
 * 522 Origin Connection Time-out

[2019-08-04 23:04] adamwoo2444 opened #201 "Instant.io is not working!"
I have tried to run instant.io on localhost. But its not working. I have changed the config file.
This is my config file.I have also updated its tracker list. Any lead how I can run on localhost.
It is compiling but not working/downloading/streaming anything.
[code]

[2019-08-04 23:05] adamwoo2444 commented on #201
my updated trackerlist
[code]

[2019-08-04 23:15] adamwoo2444 commented on #198
@PaTiToMaSteR hey can you help me out I am facing an issue while setting up instant.io on my local machine.
Thank you :D

[2019-08-05 02:59] adamwoo2444 commented on #201
okay done.

[2019-08-05 02:59] #201 closed

[2019-08-05 14:39] PaTiToMaSteR commented on #198
@adamwoo2444 I couldn’t make the same sample work in my machine because instant.io use a service to open ports through CG NAT, etc. webtorrent doesn’t have the same ability. You can easily implement upnp, but is not enough.

@feross might clarify more about this than I can

[2019-08-05 16:45] feross commented on #198
Using Twilio is not required. If you remove the code that does that from instant.io, it should still work. Just less likely to be able to connect peers in all instances.

[2019-08-06 16:58] feross commented on #193
We ask to handle `magnet:` URLs using the [`registerProtocolHandler`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler) API.

[2019-08-07 10:47] amircloner opened #202 "app.is"
hello

i run the app on cpanel hosting but this project dosent have app.js and cpanel show me error

[2019-08-07 17:46] feross commented on #202
You'll have to figure out how to use CPanel. All I can tell you is that you can start the app with `npm start`.

[2019-08-07 17:46] #202 closed

[2019-08-08 05:02] greenkeeper[bot] opened #203 "An in-range update of create-torrent is breaking the build 🚨"
## The dependency [create-torrent](https://github.com/webtorrent/create-torrent) was updated from `4.2.1` to `4.2.2`.

🚨 [View failing branch](https://github.com/webtorrent/instant.io/compare/master...webtorrent:greenkeeper%2Fcreate-torrent-4.2.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

create-torrent is a direct

[2019-08-08 06:23] feross commented on #203
False positive

[2019-08-08 06:23] #203 closed

[2019-08-08 06:24] feross commented on #189
This is a limit set by instant.io. It's configurable. We keep it set to 2GB for now since the full file has to be loaded into memory and we don't want to crash the browser tab. Once we have IndexedDB support added, then we can lift this limit.

[2019-08-08 06:25] #189 closed

[2019-08-15 17:37] ldexterldesign opened #205 "Research facilitating preview (rich) cards with link sharing #Question #Suggestion"
**What version of this package are you using?**

Version 0.20.0 (0.99.3)

**What problem do you want to solve?**

As a user when I share links (e.g. [m]astodon, twitter) I want preview (rich) cards (inc. player widgets for audio/video)

**What do you think is the correct solution to this problem??**

I assume this functionality is controlled destination-side (i.e. Mastodon, Twitter) but if I'm wro

[2019-08-15 20:15] feross commented on #205
These services get the preview metadata from HTML tags (https://ogp.me/ and https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup.html) but these must be returned in the server response so it is part of the HTML.

However, since instant.io just serves the same simple HTML to everyone and relies on the client's browser to download the files, the server can't (and shouldn'

[2019-08-15 20:15] #205 closed

[2019-08-15 22:41] ldexterldesign commented on #205
Thanks for reply and clarification

Could we do something with magnet URI [k]eywords?

Yours hopefully

k: https://en.wikipedia.org/wiki/Magnet_URI_scheme#Keywords_(kt)

[2019-08-16 00:51] feross commented on #205
Everything after the hash (`#`) in the URL is not sent to the server, so when the user visits `https://instant.io/#<magnet-url-here>` for example, the server just sees a request for `https://instant.io/`

So there's no way for the server to read the keyword out of the magnet url.

[2019-08-16 01:28] ldexterldesign commented on #205
Is this a design decision?:

* If yes then what's the reason
* If no then would you be accept the addition of keyword parsing to help solve this use case

Yours hopefully

[2019-08-16 01:52] ldexterldesign commented on #205
Also, hypothetically, if we put some OGP meta on an instant.io page (technically) how would the likes of twitter.com treat it?:

[code]

[2019-08-16 19:03] feross commented on #205
We don't want the server to see what the user is downloading. We want the server to just serve a plain html file to the user's browser and have all the magic happen there.

We can't put an OGP meta tags on the page that are based on the torrent the user is downloading since the server can't see the torrent ID.

This is a neat idea. But I can't think of how to get it to work with the current archit

[2019-08-23 09:35] adamwoo2444 commented on #194
@ChrisMichaelPerezSantiago  hey can you help me i am facing a similar issue.
Thanks.

[2019-08-23 21:51] feross commented on #195
You can tell Chrome to remove `instant.io` as your magnet link handler by visiting `chrome://settings/handlers`.

As for setting another app as your default magnet link handler, it will vary depending on which torrent app you're using.

[2019-08-23 21:51] #195 closed

[2019-08-31 19:31] hzh003 commented on #198
@feross can u pls tell me where to remove the code that use twilio? thanks

[2019-08-31 21:39] adamwoo2444 commented on #198
server->index.js line no 103 to 147 .
Hope it helps. Let me know If you have any question.

[2019-09-06 03:12] feross commented on #185
You can configure which sites are registered as protocol handlers at this URL: `chrome://settings/handlers?search=handlers`

[2019-09-06 03:12] #185 closed

[2019-09-07 15:06] feross commented on #179
Thanks for reporting this issue. Due to time constraints, I don't have any plans to work on this so I'm going to close it. If you would like to see it implemented, please send a pull request!

![mickey-wizard](https://user-images.githubusercontent.com/121766/62907205-e7fc7680-bd26-11e9-83f3-9614f069b5e0.gif)

[2019-09-07 15:06] #179 closed

[2019-09-07 16:15] feross commented on #190
If you use the latest version of Instant.io, you'll get a version of `simple-peer` that works on Safari. Cheers :)

[2019-09-07 16:15] #190 closed

[2019-09-07 18:17] feross commented on #173
I don't use Docker and personally don't see the value in it. If you want to PR instructions into the Readme, I'll merge those. But I don't want to include additional files in the repo that are not actually used by the official deployment of instant.io on https://instant.io.

[2019-09-07 18:17] #173 closed

[2019-09-07 18:25] feross commented on #119
Thanks for reporting this issue. Due to time constraints, I don't have any plans to work on this so I'm going to close it. If you would like to see it implemented, please send a pull request!

![mickey-wizard](https://user-images.githubusercontent.com/121766/62907205-e7fc7680-bd26-11e9-83f3-9614f069b5e0.gif)

[2019-09-07 18:25] #119 closed

[2019-09-07 18:26] feross commented on #177
The video already plays as soon as it can. This is determined by the browser, not by us.

[2019-09-07 18:26] #177 closed

[2019-09-09 09:39] t9999clint opened #209 "Add torrent through URL"
I can't find any good documentation on how to use this site.
I love the project, and it has worked very well with the limited testing I have done with it.

Anyways I have two simple questions. I want to share a custom raspberry pi image with a number of users. I would like to use your site to help out with this.

Question one: Is there a way for me to create a link (https://instant.io/URL_TO_TORRE

[2019-09-10 02:15] feross commented on #209
Yes, this works. See: https://instant.io/#https://webtorrent.io/torrents/sintel.torrent You need to ensure your website has the proper CORS headers to allow instant.io to download and use the torrent file. Usually this is just the following HTTP header: `access-control-allow-origin: *`

Any size should work, but the file is kept in memory in the browser, so ideally it wouldn't be more than ~4GB.

[2019-09-10 02:15] #209 closed

[2019-09-10 23:05] feross commented on #149
@dsernst Are you by chance on a 32-bit machine? These systems usually can't support a process using more than 2GB or 4GB of memory.

[2019-09-10 23:12] feross commented on #188
Please send a PR with a suggested wording and we'll consider it. Thanks.

[2019-09-10 23:12] #188 closed

[2019-09-10 23:13] feross commented on #118
This limit is not about limiting the max file size that we can stream. This is about what to do when the streaming approach fails and we are forced to use the Blob fallback approach. We keep it set to 2GB for now since the full file has to be loaded into memory and we don't want to crash the browser tab.

[2019-09-10 23:15] feross commented on #178
Sorry, this is out of scope for instant.io. Feel free to make your own site that implements this.

[2019-09-10 23:15] #178 closed

[2019-09-10 23:48] dsernst commented on #149
When I wrote this I was using a 2014 MacBook Pro. I believe that’s a 64bit machine.

[2019-09-11 00:14] feross commented on #192
This sounds like a bug but it's not possible to debug this issue without additional information. If this is still an issue, please leave a comment or open a new issue. A pull request to fix the bug would also be most welcome!

[2019-09-11 00:14] #192 closed

[2019-09-11 00:14] #191 closed

[2019-10-10 20:10] Starkemis commented on #193
It's a pain in the ass.

[2019-10-24 06:50] camden2005 opened #210 ""premature close" while trying to upload some files"
**What version of this package are you using?**
Live site: https://instant.io/
**What operating system, Node.js, and npm version?**
Chrome, Firefox
**What happened?**
While I was trying to upload certain files to be tracked, I got "premature close" in Log. It appears that certain files will trigger ""premature close" error. Example file: https://github.com/GoogleChrome/workbox/releases/download/v4

[2019-11-04 11:36] pgram1 commented on #210
Can confirm on Firefox on Android

[2019-11-04 11:42] alxhotel commented on #210
This is issue is already reported at webtorrent/webtorrent#1748.

[2019-11-12 09:55] stevetuk71 commented on #173
Do you still not see the value of Docker?

[2019-11-12 21:02] feross commented on #173
Nope. I don't use it to deploy instant.io.

[2019-11-13 14:14] DanielValahul opened #213 "Add webapp support"
**What problem do you want to solve?**

Apple bans torrent clients on the Appstore

**What do you think is the correct solution to this problem?**

Having the option to save instant.io as a webapp. This could allow downloading without having a tab always opened in safari

[2019-11-15 02:12] menriquez opened #214 "instant.io hijacking my default association for .torrent and .magnet links"
**What version of this package are you using?**
i dont know
**What operating system, Node.js, and npm version?**
win10
**What happened?**
instant.io always comes up to start downloading my torrents even after i reset my default association in windows back to my regular torrent desktop app
**What did you expect to happen?**
instant.io to go away and never come back
**Are you willing to submit a pul

[2019-11-15 09:44] stevetuk71 commented on #173
Shame, it would probably increase the user base and likely promote your product further. Loving your work by the way!

[2019-11-19 17:34] urza commented on #196
I see similar error messages still as of 2019-11-29

connection error to wss://tracker.btorrent.xyz
connection error to wss://tracker.fastcast.nz
connection error to wss://tracker.btorrent.xyz
connection error to wss://tracker.fastcast.nz
connection error to wss://tracker.btorrent.xyz

[2019-12-26 15:23] bystefu commented on #199
Can stream file before download is finished 100%?

[2019-12-31 07:35] lrq3000 opened #216 "Subtitles"
Please update the player to add the possibility to supply subtitles files, it would be a great plus for internationalization. Otherwise, the player is working great, better than the desktop version! (The support for opening files inside zip files is awesome).

[2020-02-02 17:58] DeltaF1 commented on #210
This is still happening on https://instant.io, even after https://github.com/webtorrent/webtorrent/pull/1804 was merged.

[2020-02-03 19:55] mayeaux commented on #210
+1 still doesn't work

[2020-02-10 05:43] jasondonnette commented on #214
I just ran into this myself and all I did was visit the site earlier. It shouldn't be hijacking magnet links like this without permission. (I am surprised chrome didn't ask permission - feels like a Chrome bug as well)

Assuming you're on Chrome, I fixed it by removing it from: [chrome://settings/handlers](url)

[2020-02-14 00:46] dessalines commented on #210
I'm getting this on FF 73.0

[2020-03-03 15:10] Nover2 commented on #155
How did you solve it?

[2020-03-03 15:19] qqdaiyu55 commented on #155
@Nover2 yes I have solved it. I modified the tracker list which is located in the codebase of instant.io or webtorrent, I'm not sure about it since it's long long ago :)
You can search the tracker list variable with global search which is a part of modern IDE, e.g. VS Code.

[2020-03-21 01:33] spersico commented on #210
Getting this on Chrome 80.0.3987.149 (Official Build) (64-bit)

[2020-03-21 16:48] willstott101 commented on #210
AFAIK instant.io is built from released versions of Web torrent, and there hasn't been a release since that merge. So this won't be fixed until a new version of we torrent is released or someone applies the workaround to this repo in a PR.

[2020-03-27 20:28] PaTiToMaSteR commented on #118
Still failing for me in the latest version. Can you elaborate more the answer @feross ?

Any solution? Good practice? My file is 440MB
Sample 4k 60P UHD (Ultra HD) video download of Rio (2160p_60fps_VP9-128kbit_AAC).mkv

[2020-03-27 20:33] PaTiToMaSteR commented on #118
In the documentation says:
For video and audio, webtorrent tries multiple methods of playing the file:

videostream -- best option, supports streaming with seeking, but only works with MP4-based files for now (uses MediaSource API)
mediasource -- supports more formats, supports streaming without seeking (uses MediaSource API)
Blob URL -- supports the most formats of all (anything the <video> tag s

[2020-04-06 09:29] belvederef commented on #210
This still happens on instant.io and also the latest webtorrent build. The problem is that, although webtorrent now relies on `end-of-stream@1.4.1`, there are other packages that rely on `end-of-stream@1.4.4` This is what I found this in my `yarn lockfile` with a standard installation of the latest build:
[code]

I had to change that to:
[code]
All is working now. This was a nasty one introduced w

[2020-04-06 09:39] belvederef commented on #210
This still happens on instant.io and also the latest webtorrent build. The problem is that, although webtorrent now relies on `end-of-stream@1.4.1`, there are other packages that rely on `end-of-stream@1.4.4`, so the package actually installed in the `node_module` folder is version `1.4.4`.
I do not know why something like that is allowed, it is extremely counterintuitive since the lockfile is not

[2020-04-22 17:16] vrajeshkanna commented on #195
[This](https://www.linuxbabe.com/desktop-linux/how-to-change-the-default-torrent-program-on-linux) worked for me

[2020-05-07 08:21] Weedshaker commented on #210
Can still confirm this error on FireFox 76 and Chrome Version 80.0.3987.132. While I tested it with webtorrent v0.108.1 on https://peerweb.site/ and it works. I assume it is only in the instant.io package.

[2020-05-08 20:22] Weedshaker commented on #210
I figured that it does not happen with text files... got to look deeper.

[2020-05-10 18:34] feross commented on #210
I just updated the dependency and pushed it to https://instant.io so the issue should be fixed!

[2020-05-12 14:55] willstott101 commented on #210
Looks like it's fixed for me! :tada:

[2020-05-12 16:41] feross commented on #210
Great!

[2020-05-12 16:41] #210 closed

[2020-05-13 07:24] belvederef commented on #210
Amazing work @feross, it works great. However, I think this is only for Instant.io? There are related outstanding issue on the Webtorrent package (see https://github.com/webtorrent/webtorrent/issues/1757)

[2020-05-15 23:35] mxmilkiib opened #223 ""Unsupported file type ... .xz ... Cannot append to DOM""
**What version of this package are you using?**

The live demo service

**What operating system, Node.js, and npm version?**

Arch Linux, Firefox

**What happened?**

![image](https://user-images.githubusercontent.com/108225/82103586-7b763400-970b-11ea-9f4e-0c61e8ffbd97.png)

**What did you expect to happen?**

No error.

[2020-05-28 13:34] tsonge commented on #223
Instant.io tries to display the file that you just uploaded/downloaded directly on the web page by "appending it to the DOM". Stuff like images/videos works (you can try it), but obviously your .tar.xz file doesn't. So the error is expected.

[2020-05-28 13:46] mxmilkiib commented on #223
Aha, thanks for the clarification :)

Maybe there is worth in having an "Displaying file in browser.." or similar message?

[2020-06-01 20:04] GabrielAssisCode opened #227 "https://instant.io/ please help me"
I think the of "https://instant.io/" very good...
But can you change the part of download to drag or type=file "torrent.file", instead of magnet link and hash....
and please put the code here...cause on the files that I'm searching here theres no code working, the download happens, but the files don't come to my ssd

[2020-06-01 20:13] #227 closed

[2020-06-01 20:17] GabrielAssisCode opened #228 "https://instant.io/ please help me"
Can you create a past here with the files as working at "https://instant.io/", the examples here are not complete and not working....
Please...thanks

[2020-06-01 20:18] GabrielAssisCode commented on #228
Put only the html and javascript necessary to work as in oficial website

[2020-06-01 20:18] GabrielAssisCode commented on #228
You have done a very good job, thanks for sharing

[2020-06-01 20:23] GabrielAssisCode commented on #228
If you put the complete code and only the files needed in 1 folder... only ".html" and ".js" will help the people to use your code....

[2020-06-01 20:37] GabrielAssisCode commented on #228
What's the diference between magnet link, info hash and torrent file? Just diferent ways?

[2020-06-01 20:38] GabrielAssisCode commented on #228
I'm asking cause I will use and if it's just diferent ways, hash is easier to storage...correct?

[2020-06-01 20:55] GabrielAssisCode commented on #228
"connection error to wss://tracker.fastcast.nz" this works with an outside link creator?

[2020-06-29 13:07] alxhotel commented on #228
Check out this codepen: https://codepen.io/ferossity/pen/rLxwvv

Also, this workshop might help: https://webtorrent.github.io/workshop

I think this will help you understand better Webtorrent.

[2020-06-29 13:07] #228 closed

[2020-06-29 13:15] #223 closed

[2020-07-17 03:36] feross commented on #214
Sorry that this happened for you. Browsers show a permission prompt for this functionality:

<img width="500" alt="Screen Shot 2020-07-16 at 8 34 46 PM" src="https://user-images.githubusercontent.com/121766/87745862-e98ab600-c7a3-11ea-8cfa-8cac7be9bd3d.png">

I assume this was some kind of browser bug or perhaps you clicked "Allow" by mistake.

[2020-07-17 03:36] #214 closed

[2020-07-17 03:36] feross commented on #213
This is a great suggestion. I assume you mean to implement a PWA version of the app!

[2020-09-25 13:00] urza opened #233 "Make it more clear that instant.io only works with torrents shared by webtorrent peers"
The instant.io page and also the webtorrent.io page should clearly mention that it only works with torrents that are shared by webtorrent or hybrid clients but not regular torrent clients.

It's not clear at all when you enter magnet/hash of regular torrent and nothing visible is happening.

[2020-10-29 03:24] fengkx commented on #132
It seems to be fixed. https://github.com/webtorrent/instant.io/blob/master/client/index.js#L185

[2020-10-29 06:47] beardog108 commented on #132
The payload I used back then does not work anymore, so it does indeed appear to be fixed. I'll close this and someone can reopen if they find another way.

[2020-10-29 06:47] #132 closed

[2020-10-29 23:50] feross commented on #132
thanks!

[2020-11-04 23:03] feross commented on #196
These types of messages happen anytime a tracker doesn't respond and they're not fatal. Nothing to fix here.

[2020-11-04 23:03] #196 closed

[2020-11-04 23:04] feross commented on #216
Thanks for the suggestion. This is currently beyond the scope of instant.io

[2020-11-04 23:04] #216 closed

[2020-11-05 00:14] feross commented on #233
Thanks for the suggestion – PR welcome.

[2020-11-05 00:14] #233 closed

[2020-11-16 21:35] korenevskiy opened #236 "Please Add Big green button with link magnet source."
1.Please add a large **green button** with the text "**Download TitleName**"( **?&dn=TitleName**) containing the magnet link.
Important point: the button was available immediately after opening the page with magnet in the address
If the hash already exists, you can show the **green button**.
https://instant.io/#magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel
On a similar sit

[2020-11-19 07:18] feross commented on #236
Thank you for the suggestions. At some point in the future, I'd like to rehaul the design of this site, but I don't have any immediate plans to do so. When the time comes, I'll take your feedback into account. Thanks!

[2020-11-19 07:18] #236 closed

[2020-11-29 09:37] ThelloD commented on #94
Any update regarding the implementation status of QR codes? Feature request was created 5 years ago and pull request 1.5 years ago, so it's a bit sad that this wasn't added, yet.

[2020-12-03 10:09] pojntfx commented on #94
I would also really appreciate this feature. https://webwormhole.io/ is fantastic in terms of this; if one wants to, for example, transfer a file from their desktop to their phone, this would be greatly appreciated.

[2021-01-06 20:16] YeapGuy opened #238 "Tracker is apparently down"
I'm not using the bug report template because it doesn't really fit this case.

I'm getting this error on Chrome and a similar one on Firefox when trying to download a file:
![image](https://user-images.githubusercontent.com/43749899/103815912-5e102480-5064-11eb-9f36-0a42a2d2ce46.png)
The tracker seems to be down, or it's a Cloudflare misconfiguration. Anything you can do about this?

[2021-01-19 14:08] paullouisageneau opened #239 "Too many STUN server used"
This is an issue with the instance deployed on [instant.io](https://instant.io), so I'm not using the bug report template.

Firefox reports that many STUN servers are used, which is at best useless and at worst could cause delays:
![Screenshot_20210119_150703](https://user-images.githubusercontent.com/600566/105045291-0d3afb80-5a68-11eb-866e-03185bc81dae.png)

[2021-01-19 15:08] alxhotel commented on #238
The tracker seems to be working fine, so I'm closing this issue.

[2021-01-19 15:08] #238 closed

[2021-01-19 22:10] paullouisageneau commented on #238
@alxhotel The tracker `tracker.btorrent.xyz` fails for me too, I don't think this should be closed:

![Untitled](https://user-images.githubusercontent.com/600566/105098888-0b465c00-5aab-11eb-9ba6-03b2a13441e3.png)

The actual error is an HTTP 522 (Connection timed out) from Cloudflare.

[2021-01-21 12:33] alxhotel commented on #238
Hi @paullouisageneau,

True, I have tested again and it seems the tracker is returning the same error.

However, instant.io still works since it uses more trackers. Ultimately, this error should be reported to BTorrent itself.

So I'm keeping this closed but pinging @DiegoRBaquero.

[2021-02-24 11:25] serge1peshcoff opened #240 "Add Docker support"
**What version of this package are you using?**
Latest I guess?

**What problem do you want to solve?**
There's no Docker container for instant.io, so it's impossible to run it in a Docker sandbox. This should make the self-hosted installation/deployment really easy, as running the Docker container is really 1 command.

**What do you think is the correct solution to this problem?**
Add Dockerfile,

[2021-03-10 09:04] Doumor opened #242 "instant.io does not work."
[code]

[2021-03-11 19:27] marchellodev commented on #213
+ That would be amazing

[2021-03-12 10:52] Doumor commented on #242
It turned out that that torrent does not support Web Sockets, so it cannot be downloaded using Webtorrents.

[2021-03-12 10:52] #242 closed

[2021-03-27 04:39] sdwru opened #244 "instant.io broke my magnetic links"
My magnetic links on Windows 10 with Chrome worked just find for years now. Today, I opened a link which opened a torrent on instant.io.  That automatically set magnetic links to instant.io and now I can't switch it back to utorrent. This is what is typically referred to now a days as an asshole design.  Please don't be evil and undo this.

[2021-04-03 16:34] DylanGS9 commented on #244
Clear your browser data LOL

[2021-04-03 17:11] sdwru commented on #244
Didn't work.  Neither did the 2 dozen or so other fixes found on the internet.  I can log into a completely different profile on chrome and still have the same problem.

I'm not the only one.
https://superuser.com/questions/1535819/cant-open-magnet-url-with-google-chrome-anymore

[2021-04-05 02:11] sdwru commented on #244
If I ever figure out how to get it working again, I will be able to figure out how the instant.io client broke it.  I have continued trying everything I can and still no luck. At this point I think I have probably tried every existing fix found on the internet going back years to the time of Windows 7 and Vista and a few of my own ideas.

[2021-04-05 15:39] ThaUnknown commented on #244
https://github.com/webtorrent/webtorrent/issues/1982

[2021-04-05 15:41] ThaUnknown commented on #244
also, depending on your OS you might need to change default app under "Choose default apps by protocol" in your system settings

[2021-04-05 17:45] ThaUnknown commented on #244
if it doesn't open in chrome, and doesn't open in uTorrent then its not a instant.io issue, but a uTorrent issue, again, you can manually change magnet protocol handler program under "Choose default apps by protocol" in your system settings

[2021-04-05 19:25] sdwru commented on #244
instant.io changed the chrome handler without asking so it all started with that. Associate protocols with specifc apps setting in the latest stable version of Windows 10 does not have an option for MAGNET on Windows 10 PRO PC and on another PC with Windows 10 Home it only allows selecting Chrome.

[2021-04-05 20:38] sdwru commented on #244
I seem to have gotten it working again by installing Deluge, which then popped up the Chrome window asking to make it the default torrent client and for magnetic links.  I did that and then uninstalled it.  The next time I ran uTorrent Chrome finally popped up the window asking to make it the default torrent client and now magnetic links work.  Clicking the seeing in uTorrent preferences which doe

[2021-04-06 12:55] sdwru commented on #244
I seem to have gotten it working on one PC but not another.  The difference is the one it is working on does NOT have a MAGNET URI protocol in the "Choose default apps by protocol" settings area of Windows 10.  It is a Windows 10 Pro PC and the other one is Home version.  They both have exactly the same revision number.

So the root cause seems to be the existance of MAGNET protocol setting in Win

[2021-04-06 13:25] sdwru commented on #244
The new way to access handlers in Chrome is `chrome://settings/handlers`.  All the other answers on the internet for older versions of Chrome are all wrong.  I confirmed that "Allow sites to ask to become default handlers for protocols" is enabled.  Before when I went it there instant.io was selected for magnetic links.  That is what broke one PC.  On the PC it is still working on there is no sele

[2021-04-29 00:58] 1265578519 opened #246 "chrome被点击任何一个网站的magnet链接都会跳转到instant.io，无法弹出外部BT下载软件"
chrome被点击任何一个网站的magnet链接都会跳转到instant.io，无法弹出外部BT下载软件

[2021-04-29 09:58] alxhotel commented on #246
Yep. Please @1265578519 check the issue mentioned by @computator. Thanks

[2021-04-29 09:58] #246 closed

[2021-04-29 12:30] 1265578519 commented on #244
感谢楼上提供的方法，通过 chrome://settings/handlers 允许网站要求成为协议的默认处理程序（推荐）
移除 instant.io 后问题解决
![2021-04-29_20-29-05](https://user-images.githubusercontent.com/6442439/116550791-c3489800-a929-11eb-8d13-f09298ff420f.gif)

[2021-04-29 13:04] sdwru commented on #244
Even though that is in Chinese I know what it is showing because I already did that and a LOT more.  It does not fix the problem for me.

[2021-05-04 11:21] HAL9000-1208 commented on #244
I'm having the same problem on Tixati, even tried to make Deluge the default handler and then uninstall it but it doesn't change anything... This bloody website completely screwed my magnets

[2021-05-04 12:11] ThaUnknown commented on #244
I don't think a single person here mentioned an instant.io issue, these are issues with the browser you're using [wrong protocol handling?] or with the torrent clients that you use [no re-request for protocol handler permissions]

https://github.com/webtorrent/instant.io/issues/244#issuecomment-829198201

this showed perfectly what you need to do to disable said protocol handler, any further issue

[2021-05-04 12:57] sdwru commented on #244
As I already mentioned repeatedly, none of those things worked.

[2021-05-04 13:22] ThaUnknown commented on #244
if by

you mean that clicking on magnet links does nothing, then again this is probably an issue with your torrent client.

[2021-05-04 13:56] HAL9000-1208 commented on #244
It isn't a instant.io issue, but it was CAUSED by instant.io... I've never had this kind of problem before stumbling on this website, and after trying to install several other programs I'm still unable to fix the problem, evidently instant.io has changed something that wasn't supposed to...

[2021-05-04 14:05] ThaUnknown commented on #244
no... it used a standardized API, there's nothing wrong with that, just because you've never used a website that did that before [duh.] doesn't mean it's an instantIO issue, again, if nothing happens when clicking magnet links even after any of the fixes I suggested then **_contact the respective torrent client devs_** because it's an issue on their end now [they don't have an option for re-reques

[2021-05-04 14:10] 1265578519 commented on #244
目前我没有见到有任何一款BT客户端会使用这个api，让他把 计算机\HKEY_CLASSES_ROOT\magnet 这个文件夹删除试一下
![image](https://user-images.githubusercontent.com/6442439/117016607-73047800-ad25-11eb-92f1-51b140fa90b6.png)

[2021-05-04 14:14] HAL9000-1208 commented on #244
I appreciate your reply, I've tried re-installing the clients and they have re-requested the magnet permissions but it still doesn't work (I've tried with Tixati, Bittorrent, Deluge and Vuze)... That said I've also posted on the Tixati's forum, I guess I'll have to see what they'll say there.
Regardless doesn't change the fact that this website changed my magnet handler without asking for permissi

[2021-05-04 14:16] 1265578519 commented on #244
![image](https://user-images.githubusercontent.com/6442439/117017586-4b61df80-ad26-11eb-9fa3-68511ad4612c.png)

我使用bitcomet，不知道它是否正常？勾选后会对这个注册表新建值
magnet:?xt=urn:btih:5a065251754c7d5ce436c81808a09ad9da537381

[2021-05-04 14:20] HAL9000-1208 commented on #244
I do not understand Chinese but from the photo you posted I seem to get that you're suggesting to delete the magnet registry... I had checked those but because I didn't wanted to break things I've left them alone, thanks for the advice I'll try to do that and see if it works.

[2021-05-04 15:02] HAL9000-1208 commented on #244
@1265578519 I've tried to delete the registry, install your client (BitComet), gave it permission to handle my magnet links and rebooted the system, for what I can tell my registry is now as yours and yet it still does not work, checking the default apps by protocol still shows Chrome as the magnet handler and it doesn't give me the option to change it with BitComet...
![Bitcomet Settings](https:/

[2021-05-04 15:05] thamaraiselvam opened #247 "App is down"
Nothing happens when clicking download button and found this error on console

[code]

I am not using any adblocker nor extensions, same result on both chrome and firefox latest version

[2021-05-04 15:07] thamaraiselvam commented on #247
<img width="695" alt="Screenshot 2021-05-04 at 8 36 26 PM" src="https://user-images.githubusercontent.com/6559664/117025345-76453700-ad18-11eb-9e07-865da9489ff5.png">

[2021-05-04 15:17] sdwru commented on #244
That is consistent with what I found as well.  Most of the solutions on the internet and being posted here are no longer valid.

[2021-05-04 17:03] 1265578519 commented on #244
我在联系bitcomet的开发者让他们更新客户端api了。

[2021-05-19 19:05] hello-smile6 commented on #213
This is possible, but the following components need to be added:

- [ ] PWA manifest
- [ ] `<meta name="apple-mobile-web-app-capable" content="yes">` tag, for iOS installability
- [ ] iOS splash screen, similar to [Crossnote](https://crossnote.app/), to avoid lower quality UX when PWA is removed from memory on older devices
- [ ] iOS icon for home screen (needs to be either `180x180` or `360x360`

[2021-05-19 19:09] hello-smile6 opened #248 "Allow torrents to be paused"
**What version of this package are you using?**
I am using the version at [instant.io](https://instant.io/).
**What problem do you want to solve?**
Keep torrents from overwhelming the client.
**What do you think is the correct solution to this problem?**
Allowing torrents to be paused.
**Are you willing to submit a pull request to implement this change?**
No.

[2021-05-19 19:10] hello-smile6 commented on #18
No!

[2021-05-19 19:13] ThaUnknown commented on #213
https://github.com/webtorrent/instant.io/pull/243....

[2021-05-25 20:32] hello-smile6 commented on #213
Huh?

[2021-06-09 07:04] amircloner opened #249 "Add Docker file to the project"
please Add Docker file to the project

[2021-06-09 19:47] Thymue commented on #244
Today I was trying to fix the same thing on my PC

- I believe I deleted some mention of `magnet` from
`Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Clients\StartMenuInternet\Google Chrome\Capabilities\URLAssociations`
or `Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Clients\StartMenuInternet\Google Chrome\Capabilities\URLAssociations`

- and I may have also removed some keys that had a name related t

[2021-06-09 20:46] HAL9000-1208 commented on #244
@Thymue Finally some advice that actually works, **THANK YOU SO MUCH!** ...I had basically lost all hopes to ever use magnets again on my PC, you totally made my day! ^0^

@sdwru It might work for you as well, following Thymue advice I've tried to delete the magnet association located in: "**Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Clients\StartMenuInternet\Google Chrome\Capabilities\URLAssociations**

[2021-06-09 23:58] sdwru commented on #244
Sadly, this didn't work for me.

[2021-06-17 02:12] DAO8 commented on #244
For me neither

[2021-06-17 18:10] easrng commented on #244
Chrome will never make a site default for a protocol without asking. It only adds a small icon to the address bar.
![Screenshot of the chrome address bar, showing the icon that appears when a site wants to become a protocol handler.](https://user-images.githubusercontent.com/23086727/122450596-2f806900-cf75-11eb-9855-a29f9f91c060.png)
If you click it, it asks if you want to use the site as a proto

[2021-06-22 21:47] ghost opened #254 "instant.io not working?"
[Image of error](https://i.imgur.com/9fuiaun.png)

**What version of this package are you using?**
None I use https://instant.io/ website

**What operating system, Node.js, and npm version?**
Windows 10 Chrome

**What happened?**
When I try to add any magnet link to instant.io I get this error:
WebSocket connection to 'wss://tracker.btorrent.xyz/' failed:

**What did you expect to happen?**
To Dow

[2021-07-22 23:26] dk93mess commented on #244
I just ran in to this exact issue a couple days ago and, just like @sdwru says, everything on the web is outdated.  Everyone saying this isn't happening is wrong.  I clicked what I thought was a regular magnet on Reddit , it opened instant.io (first time I've ever seen this site) and it did nothing.  Shortly after, I clicked a magnet from a site I regularly visit and it took me to instant.io - not

[2021-07-23 01:08] HAL9000-1208 commented on #244
@dk93mess did you tried to delete the magnet association located in: "Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Clients\StartMenuInternet\Google Chrome\Capabilities\URLAssociations"
(just copy and paste it in the address bar of Regedit), and do a reboot?... It fixed the problem for me, it didn't work for sdwru but you might have more luck, regardless I think you are right in saying that it's not a Chro

[2021-07-23 01:23] HAL9000-1208 commented on #244
I'm aware of how Chrome usually behaves but there was nothing usual about the situation, I assure you that I did not click on anything that would set Instant.io as my magnet handler... After stumbling on the website, seeing that at a glance it looked sus, I merely closed the tab.
I do not know why or how Chrome changed the handler without asking, I just know that it did...

[2021-07-23 23:07] dk93mess commented on #244
I did indeed. After that, clicking a magnet would only open a blank chrome tab in a new window, so I reverted just to eliminate variables.  I also pointed all the class\magent strings straight to utorrent.exe with no success.  Those are still intact.

I don't think it's a reg issue because firefox still opens magnets properly and obeys the associations between uT and qBittorrent, however I have th

[2021-07-23 23:15] powerpbx commented on #244
People keep recommending the same solutions that everyone else recommends like we haven't tried every solution out there at least 3x.  That's not the problem.   Trust me.  I have tried EVERYTHING at least 3x.

[2021-07-23 23:18] sdwru commented on #244
People keep recommending the same solutions over and over again as if we haven't tried them all.  I know I have at least 3x.  Whatever the problem is, none of the solutions out there work and most are obsolete anyways.

[2021-07-23 23:19] dk93mess commented on #244
This is where it all started for me... I read something about Elon Musk taking down this video under DMCA, so I went to find it.  I didn't know what instant.io was and it looked like a hash, so I clicked it.  This click broke my magnets.  You can visit the link below, but the instant.io link at the top is what did it for me.

https://www.reddit.com/r/RealTesla/comments/mdjfiy/torrent_link_elon_mus

[2021-07-23 23:20] sdwru commented on #244
I have a Win10 Pro computer that is working and one that is not.  I have spent WAAAAAY more time than I am willing to admit comparing the two computers and their registries  and I haven't been able to figure it out.  I basically just gave up.  I found an alternate way to add magnetic links that only takes a couple more clicks.

[2021-07-23 23:31] computator commented on #244
The proper way to remove handlers that are set in chrome itself is to go to `chrome://settings/handlers` instead of messing with the registry or something which is likely to mess something up or only partially remove things.

[2021-07-23 23:41] dk93mess commented on #244
Dude, this has been mentioned so many times and it's the obvious solution.  It doesn't work. That's the first thing I (probably all of us) did and it didn't fix the problem.

[2021-07-23 23:53] computator commented on #244
I searched the thread first actually. It was only mentioned a few times (one of which was you, and only indirectly). The handler settings are not easy to find if you don't know where to look (or to look in the first place). There are people complaining it works everywhere but in chrome, in which case clearing it in handlers should revert to whatever is set in the system (which could have it's own

[2021-07-23 23:54] dk93mess commented on #244
I'm currently making a sandbox with my broken and working User Data folders.  I'm going to start with the files directly under User Data, like Last Version and Local State, like all the out of date "fixes" suggest modifying.  I've noticed that my beater PC's User Data is 3.6 GB while my work PC's is ~5.5 GB.  I'm curious why the difference.

[2021-07-24 00:00] dk93mess commented on #244
If you Google something like "instant.io broken magnet" you'll see that this has been going on for a while.  Us here that have problems have gone through all these many times, from Chrome handlers to regedits to %appdata% fixes.  This is why users above are saying "People keep recommending the same solutions over and over".  We've gone through the basics.  Shit's broken.

![instantio](https://user

[2021-07-24 00:58] sdwru commented on #244
Do you honestly think we did not try that?

[2021-07-24 01:20] computator commented on #244
There's a lot of people in this thread and the settings are hard to find once one has already been selected. I'm sure some were not aware of how to get to them to remove.

[2021-07-24 01:41] sdwru commented on #244
I know you are just trying to to help but frankly all you are doing is polluting the thread.  This is github.  We are all sprinters here and you are trying to explain to people how to tie their shoes.

[2021-07-24 01:56] feross commented on #244
Hi everyone, sorry that instant.io is causing trouble for you. Unfortunately, this isn't an issue that we can fix on our end.

We're using the [`navigator.registerProtocolHandler`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler) web API to give users the option to set instant.io as their `magnet:` handler.

The browser is not supposed to register a new handler w

[2021-08-03 22:57] renovate[bot] opened #285 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): pin dependencies](../pull/275) (`browserify`, `compression`, `cors`, `create-torrent`, `date-fns`, `debug`, `drag-drop`, `escape-html`, `express`, `husky`, `nodemon`, `prettier-bytes`, `pug`, `rollbar`

[2021-08-12 03:42] QiTianzu commented on #244
Hello, I'm using Edge Chromium browser which has the same kernel as Chrome, but unfortunately it can't go to edge://settings//handlers, I searched in Google with "edge chromium protocol handler settings" as the keyword, then found an article titled ["Edge Chromium protocol handler always open these types of links in the associated app"](https://randomfix.com/2019/11/20/edge-chromium-protocol-handl

[2021-09-02 18:53] sun1595 commented on #244
This should fix the issue

Open regedit and navigate to - Computer\HKEY_USERS\S-1-5-21-415741439-3894619597-271833724-1001\SOFTWARE\Microsoft\Windows\Shell\Associations\UrlAssociations\MAGNET\UserChoice

There you will find a String Value named 'ProgId' which will be set to ChromeHTML_Magnet or something like that. Delete that String Value and Recreate a String Value with The same name ProgId. Tha

[2021-09-03 01:08] sdwru commented on #244
Thanks for the suggestion.  Unfortunately, this didn't work either.  I tried it twice and double-checked everything.

[2021-09-03 08:51] sun1595 commented on #244
Then I guess instant.io has broken something in your windows os that cannot be fixed by these troubleshooting methods. The only option left is to format your hdd and reinstall windows.

The above mentioned method worked for me. I am using MS Edge Chromium and this issue started when I searched for online torrent downloading websites where instant.io came up. I accidently gave some permissions or s

[2021-09-03 12:51] sdwru commented on #244
No I will not be re-installing windows.  That is never a solution to anything.

[2021-09-03 13:27] sdwru commented on #244
One way you can 'fix' the issue is to remove the 'feature' that automatically assigns instant.io as the default magnetic link handler without asking instead of repeatedly saying "not our problem".

[2021-09-24 04:48] jerrywoo96 commented on #244
Okay, so here are my thoughts. it also broke my magnet links, and following the above, i managed to fix it by deleting keys in the regedit. Before it breaks anymore people's magnet links, i would suggest the developers to remove the code that gives users the option to set instant.io as the magnet handler, and implement a text box to enter magnet links instead.

Here is what i think is happening:

[2021-09-24 13:06] sdwru commented on #244
I deleted every magnet reference there is in regedit and rebooted and the problem still persists for me.  I have done that and a dozen other things multiple times.

[2021-09-24 13:22] ThaUnknown commented on #244
I'm locking this since it's neither a webtorrent, nor instant.io issue, this is browser specific, it's no wonder chromium has this issue as MS made it unnecessarily difficult to modify and create file and protocol handlers in win10, for the sake of people using their own built-in apps.

The issue is gonna stay open for now, because other people might encounter this bug, but it's not anything that

[2022-06-21 19:13] zackees commented on #249
Second that. I want to just throw up an instance of this on a managed server platform.

[2022-06-21 19:18] zackees opened #352 "Allow users to specify the tracker list"
**What problem do you want to solve?**

I'm working on a major movie launch for a client. We'd like to use webtorrent to resist censorship efforts when it releases. I'd like to specify the exact trackers we'd like to use.

**What do you think is the correct solution to this problem?**

Have a checkbox that says: "Override trackers", when this checkbox is clicked, then a multi-line text field becom

[2022-07-05 21:59] alxhotel commented on #254
Seems this might be due to the trackers being down.

Closing issue

[2022-07-05 21:59] #254 closed

[2022-07-05 21:59] alxhotel commented on #247
Same as https://github.com/webtorrent/instant.io/issues/254

[2022-07-05 21:59] #247 closed

[2022-07-14 02:54] zackees opened #366 "Add NAT checker in client.js"
Users should know whether they are going to have problems by checking the NAT type in the client.js file.

Here is an implementation on how to check the getNATtype(cb) will invoke the callback with either "Permissive NAT" or "Symmetric NAT"

[code]

[2022-07-14 02:57] zackees commented on #240
I did it and added it here:
https://github.com/zackees/instant.io

[2022-07-17 06:08] dtantono opened #367 "It does not work on Firefox. Brave and MS Edge"
**What version of this package are you using?**

**What operating system, Node.js, and npm version?**Linux

**What happened?it says Firefox, Brave and MS Edge is unsupported

**What did you expect to happen?** According to https://www.wikiwand.com/en/WebRTC, Brave, Firefox and MS Edge is webRTC compliant. But, it  does not worked

**Are you willing to submit a pull request to fix this bug?**
![ima

[2022-07-18 14:28] vdbhb59 commented on #185
This is the only one that worked to at least remove instant.io bugging me. I had completely forgotten about it.

[2022-11-12 17:49] drobin04 commented on #366
I think I've just run into this issue; I live in Mexico and most of us are on Carrier Grade NAT (CGNAT), which is also becoming more common with newer ISP's in the US (Starlink, T-Mobile's home internet, etc).
I'm able to use the site to move items between devices in my own network, but not crossing outside of the network.
Ran into this issue after setting up a webpage with similar code, testing i

[2022-11-12 21:44] zackees commented on #366
I've had an idea where certain users with permissive nats become peer relay points.